config/flows.json
[
    {
        "id": "ea5d4dd247fe2c99",
        "type": "tab",
        "label": "Device & Sensors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a9aa78485087f860",
        "type": "tab",
        "label": "Software & REST API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6f115337e98614cb",
        "type": "tab",
        "label": "EdgeX configuration",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "085a1f4e80349b48",
        "type": "tab",
        "label": "Grafana configuration",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3df6bc4c6c47ac6a",
        "type": "ui_group",
        "name": "Ambient",
        "tab": "c1a63c15a73b6735",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "1c82bea1e5ecff62",
        "type": "ui_group",
        "name": "Buttons",
        "tab": "862cabe5ab0b919d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7d5e08888b02f065",
        "type": "ui_group",
        "name": "Vibrations",
        "tab": "c1a63c15a73b6735",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9104abfcb776560f",
        "type": "ui_group",
        "name": "Power",
        "tab": "862cabe5ab0b919d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b04138c01a45fbf1",
        "type": "ui_group",
        "name": "LEDs",
        "tab": "862cabe5ab0b919d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "40addcbf9462c1d0",
        "type": "ui_group",
        "name": "Light",
        "tab": "c1a63c15a73b6735",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c1a63c15a73b6735",
        "type": "ui_tab",
        "name": "Sensors",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "862cabe5ab0b919d",
        "type": "ui_tab",
        "name": "Device",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d0835c77f34c9a66",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#1e1018",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Canonical",
                "default": "#4B7930",
                "baseColor": "#ffffff",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "rgba(0, 0, 0, 0)",
                    "value": "#ffffff",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "rgba(0, 0, 0, 0)",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#1e1018",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#1e1018",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#740946",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#740946",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#000000",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#1e1018",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "30e1f2e7e2964dac",
        "type": "ui_group",
        "name": "App list",
        "tab": "057c895eb377e151",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "057c895eb377e151",
        "type": "ui_tab",
        "name": "Software",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "109afbd0c85d153d",
        "type": "ui_group",
        "name": "System Info",
        "tab": "057c895eb377e151",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "09091d45efb40a56",
        "type": "ui_group",
        "name": "Recovery Systems",
        "tab": "057c895eb377e151",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "ce67eef9da4c05b2",
        "type": "ui_group",
        "name": "Software update",
        "tab": "057c895eb377e151",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "c519da4c.f6bf9",
        "type": "ui_group",
        "name": "Default",
        "tab": "c63bab3.e433ad8",
        "order": 1,
        "disp": false,
        "width": "24",
        "collapse": false
    },
    {
        "id": "c63bab3.e433ad8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "44e8f608ffa1c0d1",
        "type": "ui_tab",
        "z": "a9aa78485087f860",
        "name": "REST API",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d83db01cdc44c383",
        "type": "ui_group",
        "name": "GET",
        "tab": "44e8f608ffa1c0d1",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b6d58ead5da9d7a0",
        "type": "ui_group",
        "name": "POST/PUT",
        "tab": "44e8f608ffa1c0d1",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5b7700cd13ad9ad",
        "type": "ui_spacer",
        "z": "a9aa78485087f860",
        "name": "spacer",
        "group": "b6d58ead5da9d7a0",
        "order": 10,
        "width": "7",
        "height": 1,
        "className": ""
    },
    {
        "id": "3e13a5cb1097daed",
        "type": "ui_spacer",
        "z": "a9aa78485087f860",
        "d": true,
        "name": "spacer",
        "group": "b6d58ead5da9d7a0",
        "order": 3,
        "width": "1",
        "height": "1"
    },
    {
        "id": "41f30851e6cb7102",
        "type": "ui_group",
        "name": "Device Status",
        "tab": "862cabe5ab0b919d",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "107bea2243db3d7c",
        "type": "ui_spacer",
        "z": "a9aa78485087f860",
        "d": true,
        "name": "spacer",
        "group": "b6d58ead5da9d7a0",
        "order": 8,
        "width": "15",
        "height": "1"
    },
    {
        "id": "6b0d2535eae0df21",
        "type": "ui_group",
        "name": "RESPONSE",
        "tab": "44e8f608ffa1c0d1",
        "order": 3,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f29d19c5fd16e2af",
        "type": "ui_spacer",
        "z": "a9aa78485087f860",
        "name": "spacer",
        "group": "6b0d2535eae0df21",
        "order": 3,
        "width": "7",
        "height": "1"
    },
    {
        "id": "07de419d1e087d6d",
        "type": "ui_group",
        "name": "Services",
        "tab": "057c895eb377e151",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "2f94d031281d103a",
        "type": "sensorTag",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "topic": "sensorTag",
        "uuid": "",
        "temperature": true,
        "humidity": true,
        "pressure": false,
        "magnetometer": false,
        "accelerometer": true,
        "gyroscope": false,
        "keys": false,
        "button": true,
        "luxometer": true,
        "battery": true,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "351f04c959ed7a95",
                "5e9b0e9ef91a8625",
                "c06bb902a950c4cb",
                "87e556072cc93f2c"
            ]
        ]
    },
    {
        "id": "351f04c959ed7a95",
        "type": "debug",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 200,
        "wires": []
    },
    {
        "id": "a0655998dd1b3718",
        "type": "ui_gauge",
        "z": "ea5d4dd247fe2c99",
        "name": "Temperature",
        "group": "3df6bc4c6c47ac6a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{msg.payload.ambient}}°C",
        "min": "-20",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 640,
        "wires": []
    },
    {
        "id": "87e556072cc93f2c",
        "type": "switch",
        "z": "ea5d4dd247fe2c99",
        "name": "Dispatch sensor data",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sensorTag/temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sensorTag/humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sensorTag/button",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sensorTag/accelerometer",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sensorTag/batteryLevel",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sensorTag/luxometer",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 180,
        "y": 760,
        "wires": [
            [
                "a0655998dd1b3718",
                "2dbeaf6682c28a0d"
            ],
            [
                "a03222ad63609d24",
                "9de301c9be099860"
            ],
            [
                "8b91c59add63a4f2"
            ],
            [
                "a520027ba5d0bf7b"
            ],
            [
                "b63cfee2e235adfe",
                "7ea85d1d4ef3822d"
            ],
            [
                "b7c2fdb348be9a07"
            ]
        ]
    },
    {
        "id": "a03222ad63609d24",
        "type": "ui_gauge",
        "z": "ea5d4dd247fe2c99",
        "name": "Humidity",
        "group": "3df6bc4c6c47ac6a",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload.humidity}}%",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 520,
        "y": 740,
        "wires": []
    },
    {
        "id": "0a3ff9d24ac5be1b",
        "type": "switch",
        "z": "ea5d4dd247fe2c99",
        "name": "Dispatch buttons",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "BUTTON_0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BUTTON_1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 280,
        "wires": [
            [
                "60df902479cfadc6"
            ],
            [
                "b6e9bcd6b302fd66"
            ]
        ]
    },
    {
        "id": "8b91c59add63a4f2",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "convert key",
        "func": "if (msg.payload.key == 0) {\n    msg.topic=\"BUTTON_0\";\n}\n\nif (msg.payload.key == 1) {\n    msg.topic=\"BUTTON_1\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 280,
        "wires": [
            [
                "0a3ff9d24ac5be1b"
            ]
        ]
    },
    {
        "id": "af482a2e386f378a",
        "type": "ui_multistate_switch",
        "z": "ea5d4dd247fe2c99",
        "name": "Left",
        "group": "1c82bea1e5ecff62",
        "order": 1,
        "width": 0,
        "height": 1,
        "label": "Left Button",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "passthrough",
        "rounded": true,
        "useThemeColors": false,
        "hideSelectedLabel": false,
        "multilineLabel": true,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "OFF",
                "value": "RELEASED",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "ON",
                "value": "PRESSED",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "HOLD",
                "value": "HOLD",
                "valueType": "str",
                "color": "#999999"
            }
        ],
        "x": 1310,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "60df902479cfadc6",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "convert event",
        "func": "if (msg.payload.event == 0x00) {\n    msg.payload = \"RELEASED\";\n}\n\nif (msg.payload.event == 0x01) {\n    msg.payload = \"PRESSED\";\n}\n\nif (msg.payload.event == 0xB1) {\n    msg.payload = \"HOLD\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 260,
        "wires": [
            [
                "af482a2e386f378a"
            ]
        ]
    },
    {
        "id": "4e53b37a60294da3",
        "type": "ui_multistate_switch",
        "z": "ea5d4dd247fe2c99",
        "name": "Right",
        "group": "1c82bea1e5ecff62",
        "order": 2,
        "width": 0,
        "height": 1,
        "label": "Right Button",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "passthrough",
        "rounded": true,
        "useThemeColors": false,
        "hideSelectedLabel": false,
        "multilineLabel": true,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "OFF",
                "value": "RELEASED",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "ON",
                "value": "PRESSED",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "HOLD",
                "value": "HOLD",
                "valueType": "str",
                "color": "#999999"
            }
        ],
        "x": 1310,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "b6e9bcd6b302fd66",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "convert event",
        "func": "if (msg.payload.event == 0x00) {\n    msg.payload = \"RELEASED\";\n}\n\nif (msg.payload.event == 0x01) {\n    msg.payload = \"PRESSED\";\n}\n\nif (msg.payload.event == 0xB1) {\n    msg.payload = \"HOLD\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 300,
        "wires": [
            [
                "4e53b37a60294da3"
            ]
        ]
    },
    {
        "id": "b3cf728304c9b214",
        "type": "ui_chart",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "group": "7d5e08888b02f065",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Accelerometer",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": true,
        "ymin": "-32768",
        "ymax": "32768",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#4db31e",
            "#1b6eda",
            "#ff0f0f",
            "#a02c81",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 540,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "a520027ba5d0bf7b",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "convert coord",
        "func": "msg.topic = msg.payload.axis;\nmsg.payload=parseFloat(msg.payload.coord/100).toFixed(1)*100;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 940,
        "wires": [
            [
                "b3cf728304c9b214",
                "d21a0938ce8ca62f"
            ]
        ]
    },
    {
        "id": "b63cfee2e235adfe",
        "type": "ui_gauge",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "group": "9104abfcb776560f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Battery Level",
        "label": "",
        "format": "{{msg.payload.val}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 500,
        "wires": []
    },
    {
        "id": "0ffe099d6586fd98",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "func": " msg.topic=\"writeLed\";\n if (msg.payload) {\n    msg.payload={'ledNum': 0, 'val': 1}  \n} else {\n    msg.payload={'ledNum': 0, 'val': 0}  \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 100,
        "wires": [
            [
                "2f94d031281d103a"
            ]
        ]
    },
    {
        "id": "092a35ae540242a2",
        "type": "ui_switch",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "label": "RED",
        "tooltip": "",
        "group": "b04138c01a45fbf1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "0ffe099d6586fd98"
            ]
        ]
    },
    {
        "id": "5beb6eb8dce34e5a",
        "type": "ui_switch",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "label": "GREEN",
        "tooltip": "",
        "group": "b04138c01a45fbf1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "c2ee0827825fa511"
            ]
        ]
    },
    {
        "id": "c2ee0827825fa511",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "func": " msg.topic=\"writeLed\";\n if (msg.payload) {\n    msg.payload={'ledNum': 1, 'val': 1}  \n} else {\n    msg.payload={'ledNum': 1, 'val': 0}  \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 180,
        "wires": [
            [
                "2f94d031281d103a"
            ]
        ]
    },
    {
        "id": "459bd54fe662988c",
        "type": "ui_chart",
        "z": "ea5d4dd247fe2c99",
        "name": "Luxometer",
        "group": "40addcbf9462c1d0",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Luxometer",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 530,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "b7c2fdb348be9a07",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "convert lux",
        "func": "msg.topic = \"lux\";\nmsg.payload=parseFloat(msg.payload.lux);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1060,
        "wires": [
            [
                "459bd54fe662988c",
                "5220446e825dadd6"
            ]
        ]
    },
    {
        "id": "bb07b2f8b23bd67f",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "func": " msg.topic=\"writeLed\";\n if (msg.payload) {\n    msg.payload={'ledNum': 2, 'val': 1}  \n} else {\n    msg.payload={'ledNum': 2, 'val': 0}  \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 260,
        "wires": [
            [
                "2f94d031281d103a"
            ]
        ]
    },
    {
        "id": "bbb662b7da504c12",
        "type": "ui_switch",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "label": "BLUE",
        "tooltip": "",
        "group": "b04138c01a45fbf1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "bb07b2f8b23bd67f"
            ]
        ]
    },
    {
        "id": "2dbeaf6682c28a0d",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "prepare POST for EdgeX",
        "func": "var coredata_url = \"http://localhost:59880/api/v2/\"\nvar apiVersion = '\"v2\"'\nvar uuid = global.get(\"uuid\")\nvar uuid1 = uuid.v4()\nvar uuid2 = uuid.v4()\nvar date = new Date()\nvar timestamp = date.getTime()*1000000\n\nvar profileName = '\"Sensortag-Profile\"'\nvar deviceName = '\"sensortag1\"'\nvar serviceUrl = 'temperature'\nvar sourceName = '\"' + serviceUrl + '\"'\nvar resourceName = '\"' + serviceUrl + '\"'\nvar valueType = '\"Float32\"'\nvar value = msg.payload.ambient\n\nmsg.url = coredata_url + \"event/Sensortag-Profile/sensortag1/\" + serviceUrl\nmsg.payload = '{\"apiVersion\": ' + apiVersion +', \"event\": ' +\n                   '{\"apiVersion\": ' + apiVersion + ',' +\n                    '\"deviceName\": '+ deviceName + ',' +\n                    '\"profileName\": ' + profileName + ',' +\n                    '\"sourceName\": ' + sourceName + ',' +\n                    '\"id\":\"' + uuid1 +'\",' +\n                    '\"origin\": ' + timestamp + ',' +\n                    '\"readings\": ' +\n                         '[{\"id\":\"' + uuid2 + '\",' +\n                           '\"origin\": ' + timestamp + ',' +\n                           '\"deviceName\": ' + deviceName + ',' + \n                           '\"resourceName\": ' + resourceName + ',' +\n                           '\"profileName\": ' + profileName + ',' +\n                           '\"valueType\": ' + valueType + ',' +\n                           '\"value\": \"' + value + '\"' +\n                           '}]}}'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 660,
        "wires": [
            [
                "6fa849a2adcfd99e",
                "80372868827a3c65"
            ]
        ]
    },
    {
        "id": "6fa849a2adcfd99e",
        "type": "http request",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 990,
        "y": 660,
        "wires": [
            [
                "80372868827a3c65"
            ]
        ]
    },
    {
        "id": "80372868827a3c65",
        "type": "debug",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 600,
        "wires": []
    },
    {
        "id": "9de301c9be099860",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "prepare POST for EdgeX",
        "func": "var coredata_url = \"http://localhost:59880/api/v2/\"\nvar apiVersion = '\"v2\"'\nvar uuid = global.get(\"uuid\")\nvar uuid1 = uuid.v4()\nvar uuid2 = uuid.v4()\nvar date = new Date()\nvar timestamp = date.getTime()*1000000\n\nvar profileName = '\"Sensortag-Profile\"'\nvar deviceName = '\"sensortag1\"'\nvar serviceUrl = 'humidity'\nvar sourceName = '\"' + serviceUrl + '\"'\nvar resourceName = '\"' + serviceUrl + '\"'\nvar valueType = '\"Float32\"'\nvar value = msg.payload.humidity\n\nmsg.url = coredata_url + \"event/Sensortag-Profile/sensortag1/\" + serviceUrl\nmsg.payload = '{\"apiVersion\": ' + apiVersion +', \"event\": ' +\n                   '{\"apiVersion\": ' + apiVersion + ',' +\n                    '\"deviceName\": '+ deviceName + ',' +\n                    '\"profileName\": ' + profileName + ',' +\n                    '\"sourceName\": ' + sourceName + ',' +\n                    '\"id\":\"' + uuid1 +'\",' +\n                    '\"origin\": ' + timestamp + ',' +\n                    '\"readings\": ' +\n                         '[{\"id\":\"' + uuid2 + '\",' +\n                           '\"origin\": ' + timestamp + ',' +\n                           '\"deviceName\": ' + deviceName + ',' + \n                           '\"resourceName\": ' + resourceName + ',' +\n                           '\"profileName\": ' + profileName + ',' +\n                           '\"valueType\": ' + valueType + ',' +\n                           '\"value\": \"' + value + '\"' +\n                           '}]}}'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 760,
        "wires": [
            [
                "5e890638797047c2",
                "fb36e54a810b13f0"
            ]
        ]
    },
    {
        "id": "5e890638797047c2",
        "type": "http request",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 990,
        "y": 760,
        "wires": [
            [
                "fb36e54a810b13f0"
            ]
        ]
    },
    {
        "id": "fb36e54a810b13f0",
        "type": "debug",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 700,
        "wires": []
    },
    {
        "id": "d21a0938ce8ca62f",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "prepare POST for EdgeX",
        "func": "var coredata_url = \"http://localhost:59880/api/v2/\"\nvar apiVersion = '\"v2\"'\nvar uuid = global.get(\"uuid\")\nvar uuid1 = uuid.v4()\nvar uuid2 = uuid.v4()\nvar date = new Date()\nvar timestamp = date.getTime()*1000000\n\nvar profileName = '\"Sensortag-Profile\"'\nvar deviceName = '\"sensortag1\"'\nvar serviceUrl = 'accelerometer_' + msg.topic\nvar sourceName = '\"' + serviceUrl + '\"'\nvar resourceName = '\"' + serviceUrl + '\"'\nvar valueType = '\"Float32\"'\nvar value = msg.payload\n\nmsg.url = coredata_url + \"event/Sensortag-Profile/sensortag1/\" + serviceUrl\nmsg.payload = '{\"apiVersion\": ' + apiVersion +', \"event\": ' +\n                   '{\"apiVersion\": ' + apiVersion + ',' +\n                    '\"deviceName\": '+ deviceName + ',' +\n                    '\"profileName\": ' + profileName + ',' +\n                    '\"sourceName\": ' + sourceName + ',' +\n                    '\"id\":\"' + uuid1 +'\",' +\n                    '\"origin\": ' + timestamp + ',' +\n                    '\"readings\": ' +\n                         '[{\"id\":\"' + uuid2 + '\",' +\n                           '\"origin\": ' + timestamp + ',' +\n                           '\"deviceName\": ' + deviceName + ',' + \n                           '\"resourceName\": ' + resourceName + ',' +\n                           '\"profileName\": ' + profileName + ',' +\n                           '\"valueType\": ' + valueType + ',' +\n                           '\"value\": \"' + value + '\"' +\n                           '}]}}'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 940,
        "wires": [
            [
                "e7ccb42d5c9a249e",
                "35d4d65f9e53dbcb"
            ]
        ]
    },
    {
        "id": "e7ccb42d5c9a249e",
        "type": "http request",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 990,
        "y": 940,
        "wires": [
            [
                "35d4d65f9e53dbcb"
            ]
        ]
    },
    {
        "id": "35d4d65f9e53dbcb",
        "type": "debug",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 880,
        "wires": []
    },
    {
        "id": "5220446e825dadd6",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "prepare POST for EdgeX",
        "func": "var coredata_url = \"http://localhost:59880/api/v2/\"\nvar apiVersion = '\"v2\"'\nvar uuid = global.get(\"uuid\")\nvar uuid1 = uuid.v4()\nvar uuid2 = uuid.v4()\nvar date = new Date()\nvar timestamp = date.getTime()*1000000\n\nvar profileName = '\"Sensortag-Profile\"'\nvar deviceName = '\"sensortag1\"'\nvar serviceUrl = 'luxometer'\nvar sourceName = '\"' + serviceUrl + '\"'\nvar resourceName = '\"' + serviceUrl + '\"'\nvar valueType = '\"Float32\"'\nvar value = msg.payload\n\nmsg.url = coredata_url + \"event/Sensortag-Profile/sensortag1/\" + serviceUrl\nmsg.payload = '{\"apiVersion\": ' + apiVersion +', \"event\": ' +\n                   '{\"apiVersion\": ' + apiVersion + ',' +\n                    '\"deviceName\": '+ deviceName + ',' +\n                    '\"profileName\": ' + profileName + ',' +\n                    '\"sourceName\": ' + sourceName + ',' +\n                    '\"id\":\"' + uuid1 +'\",' +\n                    '\"origin\": ' + timestamp + ',' +\n                    '\"readings\": ' +\n                         '[{\"id\":\"' + uuid2 + '\",' +\n                           '\"origin\": ' + timestamp + ',' +\n                           '\"deviceName\": ' + deviceName + ',' + \n                           '\"resourceName\": ' + resourceName + ',' +\n                           '\"profileName\": ' + profileName + ',' +\n                           '\"valueType\": ' + valueType + ',' +\n                           '\"value\": \"' + value + '\"' +\n                           '}]}}'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1060,
        "wires": [
            [
                "f41ac75ff7306d14",
                "7903bbb8c21c6015"
            ]
        ]
    },
    {
        "id": "f41ac75ff7306d14",
        "type": "http request",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 990,
        "y": 1060,
        "wires": [
            [
                "7903bbb8c21c6015"
            ]
        ]
    },
    {
        "id": "7903bbb8c21c6015",
        "type": "debug",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 1000,
        "wires": []
    },
    {
        "id": "7ea85d1d4ef3822d",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "prepare POST for EdgeX",
        "func": "var coredata_url = \"http://localhost:59880/api/v2/\"\nvar apiVersion = '\"v2\"'\nvar uuid = global.get(\"uuid\")\nvar uuid1 = uuid.v4()\nvar uuid2 = uuid.v4()\nvar date = new Date()\nvar timestamp = date.getTime()*1000000\n\nvar profileName = '\"Sensortag-Profile\"'\nvar deviceName = '\"sensortag1\"'\nvar serviceUrl = 'batteryLevel'\nvar sourceName = '\"' + serviceUrl + '\"'\nvar resourceName = '\"' + serviceUrl + '\"'\nvar valueType = '\"Float32\"'\nvar value = msg.payload.val\n\nmsg.url = coredata_url + \"event/Sensortag-Profile/sensortag1/\" + serviceUrl\nmsg.payload = '{\"apiVersion\": ' + apiVersion +', \"event\": ' +\n                   '{\"apiVersion\": ' + apiVersion + ',' +\n                    '\"deviceName\": '+ deviceName + ',' +\n                    '\"profileName\": ' + profileName + ',' +\n                    '\"sourceName\": ' + sourceName + ',' +\n                    '\"id\":\"' + uuid1 +'\",' +\n                    '\"origin\": ' + timestamp + ',' +\n                    '\"readings\": ' +\n                         '[{\"id\":\"' + uuid2 + '\",' +\n                           '\"origin\": ' + timestamp + ',' +\n                           '\"deviceName\": ' + deviceName + ',' + \n                           '\"resourceName\": ' + resourceName + ',' +\n                           '\"profileName\": ' + profileName + ',' +\n                           '\"valueType\": ' + valueType + ',' +\n                           '\"value\": \"' + value + '\"' +\n                           '}]}}'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 540,
        "wires": [
            [
                "a108b4e3309119cb"
            ]
        ]
    },
    {
        "id": "a108b4e3309119cb",
        "type": "http request",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 990,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "2436c0b5719f36d9",
        "type": "inject",
        "z": "ea5d4dd247fe2c99",
        "name": "reconnect",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "reconnect",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "2f94d031281d103a"
            ]
        ]
    },
    {
        "id": "5e9b0e9ef91a8625",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "filter data",
        "func": "if (flow.get(\"ble_sw\") === 1) {\n    if (msg.payload.status == 'connected') {\n        msg.payload = 'connected';\n        return msg;\n    }else {\n        if (msg.payload.status == 'connecting') {\n            msg.payload = 'connecting';\n            return msg;\n        }else {\n            if (msg.payload.status == 'disconnected') {\n                msg.payload = 'disconnected'; \n                return msg;\n            } else {\n                if (msg.payload.status == 'discovering') {\n                    msg.payload = 'discovering';\n                    return msg;\n                }\n            }\n        }  \n    }\n} else {\n    msg.payload = 'off';\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 40,
        "wires": [
            [
                "6c1b111ba3323868"
            ]
        ]
    },
    {
        "id": "73dc7089d128fa0e",
        "type": "ui_button",
        "z": "ea5d4dd247fe2c99",
        "name": "Reconnect",
        "group": "41f30851e6cb7102",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RECONNECT SENSOR",
        "tooltip": "",
        "color": "",
        "bgcolor": "#4e052e",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "reconnect",
        "topicType": "str",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "2f94d031281d103a"
            ]
        ]
    },
    {
        "id": "fada3566e7df2acc",
        "type": "ui_led",
        "z": "ea5d4dd247fe2c99",
        "order": 3,
        "group": "41f30851e6cb7102",
        "width": 0,
        "height": 0,
        "label": "Sensor data received",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "true",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Sensor data",
        "x": 1150,
        "y": 100,
        "wires": []
    },
    {
        "id": "c06bb902a950c4cb",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "led function",
        "func": "if ( msg.payload.status === undefined)\n    msg.payload = 'START';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 100,
        "wires": [
            [
                "8a51cf4bc3dec3ac"
            ]
        ]
    },
    {
        "id": "8a51cf4bc3dec3ac",
        "type": "controltimer",
        "z": "ea5d4dd247fe2c99",
        "name": "switch led",
        "timerType": "loop",
        "timerDurationUnit": "millisecond",
        "timerDurationType": "num",
        "timerDuration": 250,
        "timerLoopTimeoutUnit": "millisecond",
        "timerLoopTimeoutType": "num",
        "timerLoopTimeout": 500,
        "loopTimeoutMessageType": "str",
        "loopTimeoutMessage": "false",
        "timerMaxLoopIterationsType": "num",
        "timerMaxLoopIterations": 2,
        "loopMaxIterationsMessageType": "str",
        "loopMaxIterationsMessage": "false",
        "isConsecutiveStartActionTimerResetAllowed": false,
        "isRunningTimerProgressVisible": false,
        "outputReceivedMessageOnTimerTrigger": false,
        "outputReceivedMessageOnTimerHalt": false,
        "startTimerOnReceivalOfUnknownMessage": false,
        "resetTimerOnReceivalOfUnknownMessage": false,
        "isDebugModeEnabled": false,
        "timerTriggeredMessageType": "str",
        "timerTriggeredMessage": "true",
        "timerHaltedMessageType": "str",
        "timerHaltedMessage": "false",
        "isStartActionEnabled": true,
        "isStopActionEnabled": true,
        "isResetActionEnabled": true,
        "isPauseActionEnabled": true,
        "isContinueActionEnabled": true,
        "actionPropertyNameType": "str",
        "actionPropertyName": "payload",
        "startActionNameType": "str",
        "startActionName": "START",
        "stopActionNameType": "str",
        "stopActionName": "STOP",
        "resetActionNameType": "str",
        "resetActionName": "RESET",
        "pauseActionNameType": "str",
        "pauseActionName": "PAUSE",
        "continueActionNameType": "str",
        "continueActionName": "CONTINUE",
        "x": 920,
        "y": 100,
        "wires": [
            [
                "fada3566e7df2acc"
            ],
            [
                "fada3566e7df2acc"
            ]
        ]
    },
    {
        "id": "f5e9e70a4d35eba3",
        "type": "comment",
        "z": "ea5d4dd247fe2c99",
        "name": "Device",
        "info": "",
        "x": 70,
        "y": 40,
        "wires": []
    },
    {
        "id": "822bc0ea24e50c79",
        "type": "comment",
        "z": "ea5d4dd247fe2c99",
        "name": "Sensors",
        "info": "",
        "x": 80,
        "y": 560,
        "wires": []
    },
    {
        "id": "37d98fbe0b9ef68d",
        "type": "comment",
        "z": "ea5d4dd247fe2c99",
        "name": "EdgeX Integration",
        "info": "",
        "x": 750,
        "y": 360,
        "wires": []
    },
    {
        "id": "756ef0dc6f8d0b9c",
        "type": "comment",
        "z": "ea5d4dd247fe2c99",
        "name": "node-red GUI",
        "info": "",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "16552d15059418bb",
        "type": "inject",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 750,
        "y": 400,
        "wires": [
            [
                "4cfff32bbc229c75"
            ]
        ]
    },
    {
        "id": "1484cd633c90cb39",
        "type": "http request",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1070,
        "y": 400,
        "wires": [
            [
                "50a4e0cfd404b8c8"
            ]
        ]
    },
    {
        "id": "4cfff32bbc229c75",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "Prepare url",
        "func": "msg.url = \"http://localhost:7880/\" + \"ping_edgex_core_metadata\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 400,
        "wires": [
            [
                "1484cd633c90cb39"
            ]
        ]
    },
    {
        "id": "b4d12f8529373b45",
        "type": "inject",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 750,
        "y": 440,
        "wires": [
            [
                "59e4b9d3f595b00c"
            ]
        ]
    },
    {
        "id": "f3ac3abe45ce6b33",
        "type": "http request",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1070,
        "y": 440,
        "wires": [
            [
                "284ed856203bf96b"
            ]
        ]
    },
    {
        "id": "59e4b9d3f595b00c",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "Prepare url",
        "func": "msg.url = \"http://localhost:7880/\" + \"ping_edgex_core_data\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 440,
        "wires": [
            [
                "f3ac3abe45ce6b33"
            ]
        ]
    },
    {
        "id": "83518aa2371aa085",
        "type": "ui_led",
        "z": "ea5d4dd247fe2c99",
        "order": 4,
        "group": "41f30851e6cb7102",
        "width": 0,
        "height": 0,
        "label": "EdgeX Core Metadata",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "EdgeX Core Data Service Status ",
        "x": 1500,
        "y": 400,
        "wires": []
    },
    {
        "id": "a61a292bc62ac45a",
        "type": "ui_led",
        "z": "ea5d4dd247fe2c99",
        "order": 5,
        "group": "41f30851e6cb7102",
        "width": 0,
        "height": 0,
        "label": "EdgeX Core Data ",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "EdgeX Core Data Service Status ",
        "x": 1500,
        "y": 440,
        "wires": []
    },
    {
        "id": "50a4e0cfd404b8c8",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "led function",
        "func": "if ( msg.statusCode === 200)\n    msg.payload = true\nelse\n    msg.payload = false\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 400,
        "wires": [
            [
                "83518aa2371aa085"
            ]
        ]
    },
    {
        "id": "284ed856203bf96b",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "led function",
        "func": "if ( msg.statusCode === 200)\n    msg.payload = true\nelse\n    msg.payload = false\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 440,
        "wires": [
            [
                "a61a292bc62ac45a"
            ]
        ]
    },
    {
        "id": "6c1b111ba3323868",
        "type": "ui_led",
        "z": "ea5d4dd247fe2c99",
        "order": 1,
        "group": "41f30851e6cb7102",
        "width": 0,
        "height": 0,
        "label": "BLE Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "connected",
                "valueType": "str"
            },
            {
                "color": "#ffa500",
                "value": "connecting",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "disconnected",
                "valueType": "str"
            },
            {
                "color": "#0000ff",
                "value": "discovering",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "BLE Status",
        "x": 3930,
        "y": 40,
        "wires": []
    },
    {
        "id": "0c451049247d9efc",
        "type": "comment",
        "z": "ea5d4dd247fe2c99",
        "name": "Grafana Integration",
        "info": "",
        "x": 750,
        "y": 1120,
        "wires": []
    },
    {
        "id": "b7453b7ff6672175",
        "type": "inject",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 730,
        "y": 1180,
        "wires": [
            [
                "a928fdada2b655e1"
            ]
        ]
    },
    {
        "id": "5e2427aae1fe6002",
        "type": "http request",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1050,
        "y": 1180,
        "wires": [
            [
                "c220d5b5c3ea2154"
            ]
        ]
    },
    {
        "id": "a928fdada2b655e1",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "Prepare url",
        "func": "msg.url = global.get(\"grafana_protocol\") + global.get(\"grafana_admin\") + \"@\" + global.get(\"grafana_host\") + \":\" + global.get(\"grafana_port\") + \"/api/health\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1180,
        "wires": [
            [
                "5e2427aae1fe6002"
            ]
        ]
    },
    {
        "id": "ac677b4f6e8af3ec",
        "type": "ui_led",
        "z": "ea5d4dd247fe2c99",
        "order": 6,
        "group": "41f30851e6cb7102",
        "width": 0,
        "height": 0,
        "label": "Grafana",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Grafana Health",
        "x": 1420,
        "y": 1180,
        "wires": []
    },
    {
        "id": "c220d5b5c3ea2154",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "led function",
        "func": "if ( msg.statusCode === 200)\n    msg.payload = true\nelse\n    msg.payload = false\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 1180,
        "wires": [
            [
                "ac677b4f6e8af3ec"
            ]
        ]
    },
    {
        "id": "86813e80ade3aad6",
        "type": "ui_button",
        "z": "ea5d4dd247fe2c99",
        "d": true,
        "name": "Open Grafana dashboard 1",
        "group": "41f30851e6cb7102",
        "order": 7,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Grafana dashboard 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "db1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 780,
        "y": 1240,
        "wires": [
            [
                "1b7fce9a96e9652e"
            ]
        ]
    },
    {
        "id": "4f7526c75666b5a4",
        "type": "ui_template",
        "z": "ea5d4dd247fe2c99",
        "d": true,
        "group": "41f30851e6cb7102",
        "name": "window redirect",
        "order": 8,
        "width": 0,
        "height": 0,
        "format": "<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data == \"db1\") {\n          window.open(\"http://\" + window.location.hostname + \":7000/d/TyoT6kigj\", \"_blank\");\n        } \n        if (data == \"db2\") {\n          window.open(\"http://\" + window.location.hostname + \":7000/d/TyoT6kigh\", \"_blank\");\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1180,
        "y": 1260,
        "wires": [
            [
                "71f2ad0d3f19c58e"
            ]
        ]
    },
    {
        "id": "1b7fce9a96e9652e",
        "type": "trigger",
        "z": "ea5d4dd247fe2c99",
        "d": true,
        "name": "reset msg",
        "op1": "",
        "op2": "empty",
        "op1type": "pay",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1000,
        "y": 1260,
        "wires": [
            [
                "4f7526c75666b5a4"
            ]
        ]
    },
    {
        "id": "71f2ad0d3f19c58e",
        "type": "debug",
        "z": "ea5d4dd247fe2c99",
        "d": true,
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 1260,
        "wires": []
    },
    {
        "id": "1a99954e8adb443c",
        "type": "ui_button",
        "z": "ea5d4dd247fe2c99",
        "d": true,
        "name": "Open Grafana dashboard 2",
        "group": "41f30851e6cb7102",
        "order": 7,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Grafana dashboard 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "db2",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 780,
        "y": 1300,
        "wires": [
            [
                "1b7fce9a96e9652e"
            ]
        ]
    },
    {
        "id": "71bd6044.791278",
        "type": "ui_template",
        "z": "ea5d4dd247fe2c99",
        "group": "41f30851e6cb7102",
        "name": "Grafana Dashboard 1",
        "order": 0,
        "width": "3",
        "height": "2",
        "format": "<div style=\"text-align: center; display:block\">\n    <a id=\"grafana_1\" href=\"#\" style=\"text-decoration: none\">\n    <img style=\"width: 70px; height: auto\" src=\"https://upload.wikimedia.org/wikipedia/en/a/a1/Grafana_logo.svg\"/>\n    <span>dashboard 1</span></a>\n </div>\n\n<script type=\"text/javascript\">\n    document.getElementById('grafana_1').href = \"http://\"+ window.location.hostname + \":7000/d/TyoT6kigj\";\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "62c2972d66492701",
        "type": "ui_template",
        "z": "ea5d4dd247fe2c99",
        "group": "41f30851e6cb7102",
        "name": "Grafana Dashboard 2",
        "order": 0,
        "width": "3",
        "height": "2",
        "format": "<div style=\"text-align: center; display:block\">\n    <a id=\"grafana_2\" href=\"#\" style=\"text-decoration: none\">\n    <img style=\"width: 70px; height: auto\" src=\"https://upload.wikimedia.org/wikipedia/en/a/a1/Grafana_logo.svg\"/>\n    <span>dashboard 2</span></a>\n </div>\n\n<script type=\"text/javascript\">\n    document.getElementById('grafana_2').href = \"http://\"+ window.location.hostname + \":7000/d/TyoT6kigh\";\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "8d11e876908a7b00",
        "type": "exec",
        "z": "ea5d4dd247fe2c99",
        "command": "busctl set-property org.bluez /org/bluez/hci0 org.bluez.Adapter1 Powered b 0",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 3330,
        "y": 160,
        "wires": [
            [],
            [
                "9bc18a6d5d984a46"
            ],
            [
                "5915075563d71c0a",
                "7e935cda925f561b"
            ]
        ]
    },
    {
        "id": "3d856e1542d71432",
        "type": "exec",
        "z": "ea5d4dd247fe2c99",
        "command": "busctl set-property org.bluez /org/bluez/hci0 org.bluez.Adapter1 Powered b 1",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 3330,
        "y": 280,
        "wires": [
            [],
            [
                "c66877c849f65ffd"
            ],
            [
                "74fdf9154ef7775c",
                "7e935cda925f561b"
            ]
        ]
    },
    {
        "id": "ab9e3e20a3b38e1d",
        "type": "ui_switch",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "label": "BLE Switch",
        "tooltip": "",
        "group": "41f30851e6cb7102",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 2610,
        "y": 220,
        "wires": [
            [
                "78cced6b236a4f59"
            ]
        ]
    },
    {
        "id": "6434639d62ea72d8",
        "type": "switch",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2970,
        "y": 220,
        "wires": [
            [
                "8d11e876908a7b00"
            ],
            [
                "3d856e1542d71432"
            ]
        ]
    },
    {
        "id": "9bc18a6d5d984a46",
        "type": "ui_toast",
        "z": "ea5d4dd247fe2c99",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "show error",
        "x": 3930,
        "y": 160,
        "wires": []
    },
    {
        "id": "c66877c849f65ffd",
        "type": "ui_toast",
        "z": "ea5d4dd247fe2c99",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "show error",
        "x": 3930,
        "y": 280,
        "wires": []
    },
    {
        "id": "74fdf9154ef7775c",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "set discovering",
        "func": "if (msg.payload.code == 0) {\n    msg.payload = 'discovering';\n    flow.set(\"ble_sw\",1)\n    return msg;\n} else \n    flow.set(\"ble_sw\",0)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3740,
        "y": 220,
        "wires": [
            [
                "6c1b111ba3323868"
            ]
        ]
    },
    {
        "id": "ede17a878e962bc1",
        "type": "exec",
        "z": "ea5d4dd247fe2c99",
        "command": "busctl get-property org.bluez /org/bluez/hci0 org.bluez.Adapter1 Powered",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1760,
        "y": 280,
        "wires": [
            [
                "a1bc81ec8d640c55"
            ],
            [],
            [
                "7e935cda925f561b"
            ]
        ]
    },
    {
        "id": "a1bc81ec8d640c55",
        "type": "switch",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "b true",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "b false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2130,
        "y": 220,
        "wires": [
            [
                "cf9260100088606a"
            ],
            [
                "a456e64bdde56df1"
            ]
        ]
    },
    {
        "id": "9d086ad33e1e2703",
        "type": "inject",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1410,
        "y": 100,
        "wires": [
            [
                "0208f60fe01aca28"
            ]
        ]
    },
    {
        "id": "cf9260100088606a",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "set payload for BLE switch",
        "func": "msg.payload=1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2380,
        "y": 200,
        "wires": [
            [
                "ab9e3e20a3b38e1d"
            ]
        ]
    },
    {
        "id": "7e935cda925f561b",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "set payload for BLE switch",
        "func": "if (msg.payload.code != 0) {\n    msg.payload=0\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2380,
        "y": 360,
        "wires": [
            [
                "ab9e3e20a3b38e1d"
            ]
        ]
    },
    {
        "id": "78cced6b236a4f59",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "set BLE switch status",
        "func": "if ( flow.get(\"ble_sw\") != msg.payload ) {\n    flow.set(\"ble_sw\",msg.payload)\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2800,
        "y": 220,
        "wires": [
            [
                "6434639d62ea72d8"
            ]
        ]
    },
    {
        "id": "688aa57cb981d199",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "set BLE switch status",
        "func": "flow.set(\"ble_sw\",1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2320,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "90aa2a1f43e7999e",
        "type": "inject",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1410,
        "y": 200,
        "wires": [
            [
                "ede17a878e962bc1"
            ]
        ]
    },
    {
        "id": "5915075563d71c0a",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "set status",
        "func": "if (msg.payload.code == 0) {\n    msg.payload = 'off';\n    flow.set(\"ble_sw\",0)\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3680,
        "y": 120,
        "wires": [
            [
                "67b2ba20d4cd12c6"
            ]
        ]
    },
    {
        "id": "a456e64bdde56df1",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "set payload for BLE switch",
        "func": "msg.payload=0\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2380,
        "y": 240,
        "wires": [
            [
                "ab9e3e20a3b38e1d"
            ]
        ]
    },
    {
        "id": "0208f60fe01aca28",
        "type": "exec",
        "z": "ea5d4dd247fe2c99",
        "command": "busctl get-property org.bluez /org/bluez/hci0 org.bluez.Adapter1 Powered",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1780,
        "y": 100,
        "wires": [
            [
                "fa3c77ebdef2049c"
            ],
            [],
            [
                "e404fcee685007fc"
            ]
        ]
    },
    {
        "id": "fa3c77ebdef2049c",
        "type": "switch",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "b true",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "b false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2130,
        "y": 100,
        "wires": [
            [
                "688aa57cb981d199"
            ],
            [
                "331c7310e053d277"
            ]
        ]
    },
    {
        "id": "331c7310e053d277",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "set BLE switch status",
        "func": "flow.set(\"ble_sw\",0)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2320,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "e404fcee685007fc",
        "type": "function",
        "z": "ea5d4dd247fe2c99",
        "name": "set BLE switch status",
        "func": "if (msg.payload.code != 0) \n    flow.set(\"ble_sw\",0)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2320,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "67b2ba20d4cd12c6",
        "type": "controltimer",
        "z": "ea5d4dd247fe2c99",
        "name": "",
        "timerType": "delay",
        "timerDurationUnit": "second",
        "timerDurationType": "num",
        "timerDuration": 1,
        "timerLoopTimeoutUnit": "second",
        "timerLoopTimeoutType": "num",
        "timerLoopTimeout": 0,
        "loopTimeoutMessageType": "str",
        "loopTimeoutMessage": "LOOP_TIMEOUT",
        "timerMaxLoopIterationsType": "num",
        "timerMaxLoopIterations": 0,
        "loopMaxIterationsMessageType": "str",
        "loopMaxIterationsMessage": "MAX_LOOP_ITERATIONS",
        "isConsecutiveStartActionTimerResetAllowed": false,
        "isRunningTimerProgressVisible": false,
        "outputReceivedMessageOnTimerTrigger": false,
        "outputReceivedMessageOnTimerHalt": true,
        "startTimerOnReceivalOfUnknownMessage": true,
        "resetTimerOnReceivalOfUnknownMessage": true,
        "isDebugModeEnabled": false,
        "timerTriggeredMessageType": "str",
        "timerTriggeredMessage": "TIMER_TRIGGERED",
        "timerHaltedMessageType": "str",
        "timerHaltedMessage": "TIMER_HALTED",
        "isStartActionEnabled": true,
        "isStopActionEnabled": true,
        "isResetActionEnabled": true,
        "isPauseActionEnabled": true,
        "isContinueActionEnabled": true,
        "actionPropertyNameType": "str",
        "actionPropertyName": "payload",
        "startActionNameType": "str",
        "startActionName": "START",
        "stopActionNameType": "str",
        "stopActionName": "STOP",
        "resetActionNameType": "str",
        "resetActionName": "RESET",
        "pauseActionNameType": "str",
        "pauseActionName": "PAUSE",
        "continueActionNameType": "str",
        "continueActionName": "CONTINUE",
        "x": 3800,
        "y": 80,
        "wires": [
            [
                "6c1b111ba3323868"
            ],
            []
        ]
    },
    {
        "id": "7fa903afbafef497",
        "type": "snapd",
        "z": "a9aa78485087f860",
        "name": "",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "e1a1995c875abb75",
                "7a04e61505caa3c3"
            ]
        ]
    },
    {
        "id": "e1a1995c875abb75",
        "type": "debug",
        "z": "a9aa78485087f860",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 60,
        "wires": []
    },
    {
        "id": "9fb8f9ddf0bf1a32",
        "type": "ui_table",
        "z": "a9aa78485087f860",
        "group": "30e1f2e7e2964dac",
        "name": "App List",
        "order": 0,
        "width": "12",
        "height": "12",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 740,
        "y": 140,
        "wires": []
    },
    {
        "id": "7a04e61505caa3c3",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "extract snap info",
        "func": "msg.payload = msg.payload.result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 140,
        "wires": [
            [
                "9fb8f9ddf0bf1a32"
            ]
        ]
    },
    {
        "id": "fe5dbb7431a59111",
        "type": "ui_button",
        "z": "a9aa78485087f860",
        "name": "App List",
        "group": "30e1f2e7e2964dac",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "update",
        "tooltip": "",
        "color": "",
        "bgcolor": "#4e052e",
        "className": "",
        "icon": "",
        "payload": "/v2/apps",
        "payloadType": "str",
        "topic": "snapd_rest_api_get",
        "topicType": "str",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "7fa903afbafef497"
            ]
        ]
    },
    {
        "id": "9a2984d6ea84f543",
        "type": "ui_button",
        "z": "a9aa78485087f860",
        "name": "System Info",
        "group": "109afbd0c85d153d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "update",
        "tooltip": "",
        "color": "",
        "bgcolor": "#4e052e",
        "className": "",
        "icon": "",
        "payload": "/v2/system-info",
        "payloadType": "str",
        "topic": "snapd_rest_api_get",
        "topicType": "str",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "65c5aa7501ea4591"
            ]
        ]
    },
    {
        "id": "65c5aa7501ea4591",
        "type": "snapd",
        "z": "a9aa78485087f860",
        "name": "",
        "x": 350,
        "y": 220,
        "wires": [
            [
                "42eea502addb9dcf",
                "e1a1995c875abb75"
            ]
        ]
    },
    {
        "id": "42eea502addb9dcf",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "extract snap info",
        "func": "text = \"<p>\" + \"Architecture : \" + msg.payload.result.architecture + \"</p>\";\ntext = text + \"<p>\" + \"Confinement : \" + msg.payload.result.confinement + \"</p>\";\ntext = text + \"<p>\" + \"Kernel Version : \" + msg.payload.result['kernel-version'] + \"</p>\";\ntext = text + \"<p>\" + \"Managed : \" + msg.payload.result.managed + \"</p>\";\ntext = text + \"<p>\" + \"On Classic : \" + msg.payload.result['on-classic'] + \"</p>\";\ntext = text + \"<p>\" + \"OS id : \" + msg.payload.result['os-release'].id + \"</p>\";\ntext = text + \"<p>\" + \"OS version : \" + msg.payload.result['os-release']['version-id'] + \"</p>\";\ntext = text + \"<p>\" + \"Refresh timer : \" + msg.payload.result.refresh.timer + \"</p>\";\ntext = text + \"<p>\" + \"Refresh last : \" + msg.payload.result.refresh.last + \"</p>\";\ntext = text + \"<p>\" + \"Series : \" + msg.payload.result.series + \"</p>\";\ntext = text + \"<p>\" + \"System Mode : \" + msg.payload.result['system-mode'] + \"</p>\";\ntext = text + \"<p>\" + \"Version : \" + msg.payload.result.version + \"</p>\";\nmsg.payload = text;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 220,
        "wires": [
            [
                "37016def337b7930"
            ]
        ]
    },
    {
        "id": "37016def337b7930",
        "type": "ui_text",
        "z": "a9aa78485087f860",
        "group": "109afbd0c85d153d",
        "order": 1,
        "width": "12",
        "height": "6",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "479f73ade3b69225",
        "type": "ui_button",
        "z": "a9aa78485087f860",
        "name": "Recovery Systems",
        "group": "09091d45efb40a56",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "update",
        "tooltip": "",
        "color": "",
        "bgcolor": "#4e052e",
        "className": "",
        "icon": "",
        "payload": "/v2/systems",
        "payloadType": "str",
        "topic": "snapd_rest_api_get",
        "topicType": "str",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "aa05f63e277d5420"
            ]
        ]
    },
    {
        "id": "aa05f63e277d5420",
        "type": "snapd",
        "z": "a9aa78485087f860",
        "name": "",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "e1a1995c875abb75",
                "fd82614b0ebc3b03"
            ]
        ]
    },
    {
        "id": "bec6b40bf35b4374",
        "type": "ui_table",
        "z": "a9aa78485087f860",
        "group": "09091d45efb40a56",
        "name": "Recovery Systems List",
        "order": 2,
        "width": "0",
        "height": "0",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 780,
        "y": 300,
        "wires": []
    },
    {
        "id": "fd82614b0ebc3b03",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "extract snap info",
        "func": "var obj = [];\nvar systems = {current: \"\", label: \"\", model: \"\", \"brand-id\": \"\"};\n//, \"display-name\": \"\", \"brand-username\": \"\", \"brand-display-name\": \"\", \"brand-validation\": \"\"}; \n\nobj[0]= systems;\n\nobj[0].current = msg.payload.result.systems[0].current;\nobj[0].label = msg.payload.result.systems[0].label;\nobj[0].model = msg.payload.result.systems[0].model.model;\nobj[0]['brand-id'] = msg.payload.result.systems[0].model['brand-id'];\n//obj[0]['display-name'] = msg.payload.result.systems[0].model['display-name'];\n//obj[0]['brand-username'] = msg.payload.result.systems[0].brand['username'];\n//obj[0]['brand-display-name'] = msg.payload.result.systems[0].brand['display-name'];\n//obj[0]['brand-validation'] = msg.payload.result.systems[0].brand['validation'];\n\nmsg.payload = obj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 300,
        "wires": [
            [
                "bec6b40bf35b4374"
            ]
        ]
    },
    {
        "id": "f1772b8e7cddb8de",
        "type": "ui_media",
        "z": "a9aa78485087f860",
        "group": "c519da4c.f6bf9",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 2,
        "category": "canonical_logo",
        "file": "Canonical_logo_white.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "muted": false,
        "scope": "local",
        "tooltip": "",
        "x": 1070,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "6066e10048304e3a",
        "type": "ui_button",
        "z": "a9aa78485087f860",
        "name": "Refresh",
        "group": "ce67eef9da4c05b2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "#4e052e",
        "className": "",
        "icon": "",
        "payload": "{ \"command\" : \"/v2/snaps\" , \"body\" : { \"action\" : \"refresh\" } }",
        "payloadType": "json",
        "topic": "snapd_rest_api_post",
        "topicType": "str",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "9e5934ac55764282"
            ]
        ]
    },
    {
        "id": "9e5934ac55764282",
        "type": "snapd",
        "z": "a9aa78485087f860",
        "name": "",
        "x": 350,
        "y": 440,
        "wires": [
            [
                "f535505e46af34cc"
            ]
        ]
    },
    {
        "id": "ff28f78e.f7d758",
        "type": "ui_template",
        "z": "a9aa78485087f860",
        "group": "c519da4c.f6bf9",
        "name": "Logo / Clock",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<script id=\"clockScript1\" type=\"text/javascript\">\n    var clockInterval;\n    $(function () {\n        if (clockInterval) return;\n\n        //add logo\n        var div1 = $('<div/>');\n        var logo = new Image();\n\n        logo.src = '/uimedia/canonical_logo/Canonical_logo_white.png'\n        logo.height = 45;\n        div1[0].style.margin = '10px auto';\n\n        div1.append(logo);\n\n        //add clock\n        var div2 = $('<div/>');\n        var p = $('<p/>');\n\n        div2.append(p);\n        div2[0].style.margin = '5px';\n\n        function displayTime() {\n            p.text(new Date().toLocaleString());\n        }\n        \n        clockInterval = setInterval(displayTime, 1000);\n\n        //add to toolbar when it's available\n        var addToToolbarTimer;\n        \n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n            \n            toolbar.append(div1);\n            //toolbar.append(div2); //don't want clock\n            clearInterval(addToToolbarTimer);\n        }\n        addToToolbarTimer = setInterval(addToToolbar, 100);\n    });\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 1230,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "1b9780eceea727a4",
        "type": "ui_button",
        "z": "a9aa78485087f860",
        "name": "Snap changes",
        "group": "ce67eef9da4c05b2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "changes",
        "tooltip": "",
        "color": "",
        "bgcolor": "#4e052e",
        "className": "",
        "icon": "",
        "payload": "/v2/changes",
        "payloadType": "str",
        "topic": "snapd_rest_api_get",
        "topicType": "str",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "6071e1a8e8cf1dbe"
            ]
        ]
    },
    {
        "id": "6071e1a8e8cf1dbe",
        "type": "snapd",
        "z": "a9aa78485087f860",
        "name": "",
        "x": 350,
        "y": 500,
        "wires": [
            [
                "7ead1dc122b3e438"
            ]
        ]
    },
    {
        "id": "f535505e46af34cc",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "extract change id",
        "func": "msg.topic = \"snapd_rest_api_get\";\nmsg.payload = \"/v2/changes/\" + msg.payload.change;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 440,
        "wires": [
            [
                "6071e1a8e8cf1dbe"
            ]
        ]
    },
    {
        "id": "7ead1dc122b3e438",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "format",
        "func": "if (msg.payload.result.length === 0) {\n   msg.payload = {\"msg\": \"No changes\" };  \n} else {\n    msg.payload = {\"msg\": msg.payload.result.summary + \" - \" + \"Status: \" + msg.payload.result.status};\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 500,
        "wires": [
            [
                "99024603.3601e8"
            ]
        ]
    },
    {
        "id": "99024603.3601e8",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "add ts",
        "func": "js_obj      = msg.payload;\n\nvar d       = new Date();\nvar jstime  = d.getTime();\nvar time    = (d.getHours()) + \":\" + d.getMinutes();\nvar date    = d.getDate() + \".\" + (d.getMonth()+1) + \".\" + (d.getFullYear());\n\njs_obj.timestamp = jstime;\njs_obj.timedate  = time + ' ' + date ;\n\nmsg.payload = js_obj ;\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 500,
        "wires": [
            [
                "7d8d17fe.98adc"
            ]
        ]
    },
    {
        "id": "f6cbee6d.01b758",
        "type": "template",
        "z": "a9aa78485087f860",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<table border=\"1\">\n    \n    \n    <thead>\n        <tr>\n            <th colspan=\"3\">{{topic}}</th>\n        </tr>\n    </thead>\n    \n    \n    <tr>\n        <th>Message</th>\n        <th>Time & Date</th>\n\n    </tr>\n    {{#payload}}\n        <tr class=\"\">\n            <td>{{msg}}</td>            \n            <td>{{timedate}}</td>\n        </tr>\n    {{/payload}}\n</table>\n",
        "output": "str",
        "x": 1530,
        "y": 500,
        "wires": [
            [
                "3e0498a5.b8f04"
            ]
        ]
    },
    {
        "id": "3e0498a5.b8f04",
        "type": "ui_template",
        "z": "a9aa78485087f860",
        "group": "ce67eef9da4c05b2",
        "name": "Scrolling Messages",
        "order": 3,
        "width": "12",
        "height": "6",
        "format": "<div ng-bind-html=\"msg.payload\" height=\"500\" style=\"height: 350px;\"></div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1710,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "7d8d17fe.98adc",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "Cr/Upd msg_events",
        "func": "var msg_obj       = msg.payload ;\nvar arr_msgs = flow.get(\"msg_events\", 'memoryOnly');\n\nif (arr_msgs===undefined ) {\n    // Create an empty array if it does not exist yet\n    arr_msgs = [];\n    //arr_msgs.push(msg_obj) ; \n        if (msg_obj !== \"1\") {\n            arr_msgs.push(msg_obj);\n            flow.set(\"msg_events\",arr_msgs, 'memoryOnly');\n        }\n    \n//    return msg ;\n\n} else {\n        // This is a new user, save and return in the first port\n        if (msg_obj !== \"1\") {\n            arr_msgs.push(msg_obj);\n            flow.set(\"msg_events\",arr_msgs, 'memoryOnly');\n        }\n} \nmsg.payload = flow.get(\"msg_events\", 'memoryOnly');\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 500,
        "wires": [
            [
                "c748be29.1c57"
            ]
        ]
    },
    {
        "id": "34fabfbc.b51fd",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "zap msg_events flow context",
        "func": "",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nvar cfg = undefined ;\nflow.set('msg_events', cfg, 'memoryOnly');\n\n//return msg;",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "7311ad45.6cf814",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "topic & 10",
        "func": "var arr = msg.payload ;\n\nvar i   = 10;\nif(typeof arr === undefined) {\n    return ;\n} else {\n    msg.payload = arr.slice(0, 10);    \n    msg.topic = 'Software Update Log';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 500,
        "wires": [
            [
                "f6cbee6d.01b758"
            ]
        ]
    },
    {
        "id": "c748be29.1c57",
        "type": "change",
        "z": "a9aa78485087f860",
        "name": "sort",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "($sort(payload,function($l , $r){$l.timestamp < $r.timestamp }) )",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 500,
        "wires": [
            [
                "7311ad45.6cf814"
            ]
        ]
    },
    {
        "id": "53c63552ceb7d473",
        "type": "tableify",
        "z": "a9aa78485087f860",
        "name": "Result",
        "before": "",
        "after": "",
        "tableStyle": "width:100%;",
        "theadStyle": "width:100%;",
        "tbodyStyle": "width:100%;",
        "trStyle": "width:100%;",
        "tdStyle": "text-align:left;vertical-align:top;width:100%;",
        "x": 1370,
        "y": 1140,
        "wires": [
            [
                "8379ae0aa5ec31cd"
            ]
        ]
    },
    {
        "id": "8379ae0aa5ec31cd",
        "type": "ui_template",
        "z": "a9aa78485087f860",
        "group": "6b0d2535eae0df21",
        "name": "Response",
        "order": 1,
        "width": "15",
        "height": "9",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1560,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "dc24df6ac0346c8b",
        "type": "snapd",
        "z": "a9aa78485087f860",
        "name": "",
        "x": 1190,
        "y": 1140,
        "wires": [
            [
                "53c63552ceb7d473"
            ]
        ]
    },
    {
        "id": "4702a8ad2c53534c",
        "type": "snapd",
        "z": "a9aa78485087f860",
        "name": "",
        "x": 1190,
        "y": 1240,
        "wires": [
            [
                "f8aa7045a3fb2000"
            ]
        ]
    },
    {
        "id": "f8aa7045a3fb2000",
        "type": "tableify",
        "z": "a9aa78485087f860",
        "name": "Result",
        "before": "",
        "after": "",
        "tableStyle": "width:100%;",
        "theadStyle": "width:100%;",
        "tbodyStyle": "width:100%;",
        "trStyle": "width:100%;",
        "tdStyle": "text-align:left;vertical-align:top;width:100%;",
        "x": 1370,
        "y": 1240,
        "wires": [
            [
                "8379ae0aa5ec31cd"
            ]
        ]
    },
    {
        "id": "a99713dda4bf908d",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "get",
        "func": "    msg.topic = \"snapd_rest_api_get\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1140,
        "wires": [
            [
                "dc24df6ac0346c8b"
            ]
        ]
    },
    {
        "id": "4a47f154a479c838",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "post-put",
        "func": "/*var body    = context.get(\"body\") || 0;\n\nif(msg.topic === \"body\"){\n    data = msg.payload;\n    context.set(\"body\",data);\n    //if no output is needed while writting, stop the flow right here\n    return\n}*/\nvar str = msg.body;\nif(msg.topic === \"post\"){\n    msg.topic = \"snapd_rest_api_post\";\n    if (msg.payload.match(/\\/v2\\/assertions[\\/]*/g)) {\n        str = str.replace(/\\n|\\r\\n|\\r/g, '\\\\n');\n        node.warn(str);\n        msg.payload = \"{ \\\"command\\\":  \\\"\" + msg.payload + \"\\\" , \\\"body\\\":  \\\"\" + str + \"\\\"}\";\n        msg.payload = JSON.parse(msg.payload);\n    }\n    else {\n        // str = str.replace(/\\n|\\r\\n|\\r/g, '\\\\n');\n        node.warn(str);\n        msg.payload = \"{ \\\"command\\\":  \\\"\" + msg.payload + \"\\\" , \\\"body\\\":  \" + str + \"}\";\n        msg.payload = JSON.parse(msg.payload);\n    }\n}\nif(msg.topic === \"put\"){\n    msg.topic = \"snapd_rest_api_put\";\n    msg.payload = \"{ \\\"command\\\":  \\\"\" + msg.payload + \"\\\" , \\\"body\\\":  \" + msg.body + \"}\";\n    msg.payload = JSON.parse(msg.payload);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1240,
        "wires": [
            [
                "4702a8ad2c53534c"
            ]
        ]
    },
    {
        "id": "1fb84b3f.99a1f5",
        "type": "ui_template",
        "z": "a9aa78485087f860",
        "group": "d83db01cdc44c383",
        "name": "Autocomplete",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<table>\n    <tr>\n        <td height=\"90\" width=\"220\"><md-autocomplete md-no-cache=\"true\" md-selected-item=\"selectedItem\" md-items=\"items in msg.options | filter:searchText\" md-select-on-match=\"true\"  md-search-text=\"searchText\" placeholder=\"{{msg.topic}}\" >\n        <span ng-bind=\"items\"></span></md-autocomplete></td>\n        <td><button style=\"text-align:center; height:40px;\" ng-click=\"msg.payload = searchText; send(msg)\">GET</button></td>\n    </tr>\n</table>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 520,
        "y": 1140,
        "wires": [
            [
                "a99713dda4bf908d"
            ]
        ]
    },
    {
        "id": "3b725772.4a6ae8",
        "type": "change",
        "z": "a9aa78485087f860",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "[\"/v2/aliases\",\"/v2/apps\",\"/v2/assertions\",\"/v2/changes\",\"/v2/connections\",\"/v2/find\",\"/v2/icons\",\"/v2/interfaces\",\"/v2/logs\",\"/v2/sections\",\"/v2/snaps\",\"/v2/snapshots\",\"/v2/system-info\",\"/v2/systems\",\"/v2/users\",\"/v2/warnings\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1140,
        "wires": [
            [
                "1fb84b3f.99a1f5"
            ]
        ]
    },
    {
        "id": "d72df936.e5b118",
        "type": "inject",
        "z": "a9aa78485087f860",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "/v2/",
        "x": 90,
        "y": 1140,
        "wires": [
            [
                "3b725772.4a6ae8"
            ]
        ]
    },
    {
        "id": "d5d2fd7265711b39",
        "type": "ui_template",
        "z": "a9aa78485087f860",
        "group": "b6d58ead5da9d7a0",
        "name": "Autocomplete",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<table>\n    <tr>\n        <td style=\"height: 6em;\">\n            <md-autocomplete id=\"req_uri\" style=\"width: 35em;\" md-no-cache=\"true\" md-selected-item=\"selectedItem\" md-items=\"items in msg.options | filter:searchText\" md-select-on-match=\"true\"  md-search-text=\"searchText\" placeholder=\"{{msg.topic}}\" >\n                <span ng-bind=\"items\"></span>\n            </md-autocomplete>\n        </td>\n        <td>\n                <input type=\"radio\" id=\"req_post\" name=\"req_type\" value=\"post\" checked>\n                <label for=\"req_post\">POST</label>\n                <input type=\"radio\" id=\"req_put\" name=\"req_type\" value=\"put\">\n                <label for=\"req_put\">PUT</label>\n        </td>\n        <td><button style=\"text-align:center; height:40px;\" ng-click=\"send({topic:getTopic(), payload: searchText, body: getBody()})\">SEND</button></td>\n    </tr>\n</table>\n<table>\n    <tr>\n        <td>\n            <label for=\"text\">BODY</label>\n            <br>\n            <textarea id=\"req_body\" name=\"text\" rows=\"28\" cols=\"82\"></textarea>\n          <br/>\n        </td>\n    </tr>\n</table>\n<script>\n    (function(scope) {\n        \n        scope.getTopic = function() {\n            var req_post = document.getElementById(\"req_post\").checked;\n            var req_put = document.getElementById(\"req_put\").checked;\n            \n            if (req_post)\n                return \"post\";\n            \n            if (req_put)\n                return \"put\"; \n                \n            return \"post;\"\n        }\n    \n        scope.getBody = function () {\n            var req_body = document.getElementById(\"req_body\").value;\n            return req_body;\n        }\n            \n        scope.$watch('msg', function(msg) {\n            if (msg.payload === \"clear\") {\n                var req_body = document.getElementById(\"req_body\");\n                req_body.value=\"\";\n            } \n        });\n    })(scope);\n</script>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 520,
        "y": 1240,
        "wires": [
            [
                "4a47f154a479c838"
            ]
        ]
    },
    {
        "id": "861774663f3ca208",
        "type": "change",
        "z": "a9aa78485087f860",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "[\"/v2/aliases\",\"/v2/apps\",\"/v2/assertions\",\"/v2/changes\",\"/v2/interfaces\",\"/v2/login\",\"/v2/logout\",\"/v2/snapctl\",\"/v2/snaps\",\"/v2/snapshots\",\"/v2/systems\",\"/v2/users\",\"/v2/warnings\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1240,
        "wires": [
            [
                "d5d2fd7265711b39"
            ]
        ]
    },
    {
        "id": "da1b7b0bd85685c6",
        "type": "inject",
        "z": "a9aa78485087f860",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "/v2/",
        "x": 90,
        "y": 1240,
        "wires": [
            [
                "861774663f3ca208"
            ]
        ]
    },
    {
        "id": "7db57965.76d468",
        "type": "ui_button",
        "z": "a9aa78485087f860",
        "name": "",
        "group": "6b0d2535eae0df21",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Help",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "help",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 110,
        "y": 1400,
        "wires": [
            [
                "ece06122.7e762"
            ]
        ]
    },
    {
        "id": "5e1f0081.6dc3c",
        "type": "ui_template",
        "z": "a9aa78485087f860",
        "group": "6b0d2535eae0df21",
        "name": "window redirect",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data == \"help\") {\n          window.open(\"https://snapcraft.io/docs/snapd-api\", \"_blank\");\n        } \n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 480,
        "y": 1400,
        "wires": [
            [
                "8582289.2d757d8"
            ]
        ]
    },
    {
        "id": "ece06122.7e762",
        "type": "trigger",
        "z": "a9aa78485087f860",
        "name": "reset msg",
        "op1": "",
        "op2": "empty",
        "op1type": "pay",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 300,
        "y": 1400,
        "wires": [
            [
                "5e1f0081.6dc3c"
            ]
        ]
    },
    {
        "id": "8582289.2d757d8",
        "type": "debug",
        "z": "a9aa78485087f860",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 1400,
        "wires": []
    },
    {
        "id": "3fe476b265a46abb",
        "type": "ui_button",
        "z": "a9aa78485087f860",
        "name": "",
        "group": "b6d58ead5da9d7a0",
        "order": 11,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Help",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "help",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 110,
        "y": 1460,
        "wires": [
            [
                "9aad3753bea9ccfd"
            ]
        ]
    },
    {
        "id": "b6f029f62837f700",
        "type": "ui_template",
        "z": "a9aa78485087f860",
        "group": "b6d58ead5da9d7a0",
        "name": "window redirect",
        "order": 12,
        "width": 0,
        "height": 0,
        "format": "<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data == \"help\") {\n          window.open(\"https://snapcraft.io/docs/snapd-api\", \"_blank\");\n        } \n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 480,
        "y": 1460,
        "wires": [
            [
                "9c86f324704184cd"
            ]
        ]
    },
    {
        "id": "9aad3753bea9ccfd",
        "type": "trigger",
        "z": "a9aa78485087f860",
        "name": "reset msg",
        "op1": "",
        "op2": "empty",
        "op1type": "pay",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 300,
        "y": 1460,
        "wires": [
            [
                "b6f029f62837f700"
            ]
        ]
    },
    {
        "id": "9c86f324704184cd",
        "type": "debug",
        "z": "a9aa78485087f860",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 1460,
        "wires": []
    },
    {
        "id": "41a5eb90b5f2cee3",
        "type": "ui_button",
        "z": "a9aa78485087f860",
        "name": "CLEAR",
        "group": "6b0d2535eae0df21",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "CLEAR",
        "tooltip": "",
        "color": "",
        "bgcolor": "#4e052e",
        "className": "",
        "icon": "",
        "payload": " ",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 1200,
        "y": 1040,
        "wires": [
            [
                "53c63552ceb7d473"
            ]
        ]
    },
    {
        "id": "0a4a7d5d54a5869b",
        "type": "ui_button",
        "z": "a9aa78485087f860",
        "name": "CLEAR",
        "group": "b6d58ead5da9d7a0",
        "order": 9,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "CLEAR",
        "tooltip": "",
        "color": "",
        "bgcolor": "#4e052e",
        "className": "",
        "icon": "",
        "payload": "clear",
        "payloadType": "str",
        "topic": "/v2/",
        "topicType": "str",
        "x": 340,
        "y": 1200,
        "wires": [
            [
                "d5d2fd7265711b39"
            ]
        ]
    },
    {
        "id": "62d206084bf9fb8d",
        "type": "comment",
        "z": "a9aa78485087f860",
        "name": "REST API",
        "info": "",
        "x": 80,
        "y": 1000,
        "wires": []
    },
    {
        "id": "b88e4c1bfc324754",
        "type": "comment",
        "z": "a9aa78485087f860",
        "name": "Software",
        "info": "",
        "x": 80,
        "y": 40,
        "wires": []
    },
    {
        "id": "bdf8bbd82ec1bf2b",
        "type": "catch",
        "z": "a9aa78485087f860",
        "name": "post-put error handler",
        "scope": [
            "4a47f154a479c838"
        ],
        "uncaught": false,
        "x": 840,
        "y": 1200,
        "wires": [
            [
                "79ec8d4430d1c3dd"
            ]
        ]
    },
    {
        "id": "7cf847f87d271b3a",
        "type": "ui_toast",
        "z": "a9aa78485087f860",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "show error",
        "x": 1250,
        "y": 1200,
        "wires": []
    },
    {
        "id": "79ec8d4430d1c3dd",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "get error message",
        "func": "msg.payload = msg.error.message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 1200,
        "wires": [
            [
                "7cf847f87d271b3a"
            ]
        ]
    },
    {
        "id": "37cb42114fddcd53",
        "type": "ui_button",
        "z": "a9aa78485087f860",
        "name": "refresh services",
        "group": "07de419d1e087d6d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "refresh services",
        "tooltip": "",
        "color": "",
        "bgcolor": "#4e052e",
        "className": "",
        "icon": "",
        "payload": "/v2/snaps",
        "payloadType": "str",
        "topic": "snapd_rest_api_get",
        "topicType": "str",
        "x": 180,
        "y": 580,
        "wires": [
            [
                "d15097d27da2f554"
            ]
        ]
    },
    {
        "id": "11c4a58d07257520",
        "type": "snapd",
        "z": "a9aa78485087f860",
        "name": "",
        "x": 650,
        "y": 620,
        "wires": [
            [
                "5d2ee77f.a8fe38"
            ]
        ]
    },
    {
        "id": "3a0681c1891c9310",
        "type": "ui_table",
        "z": "a9aa78485087f860",
        "group": "07de419d1e087d6d",
        "name": "App List",
        "order": 3,
        "width": "12",
        "height": "6",
        "columns": [
            {
                "field": "snap",
                "title": "snap",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "name",
                "title": "service name",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "active",
                "title": "active",
                "width": "",
                "align": "left",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "enabled",
                "title": "enabled",
                "width": "",
                "align": "left",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 1980,
        "y": 580,
        "wires": [
            [
                "827cdc2b09835474"
            ]
        ]
    },
    {
        "id": "2e20d61f.4aa97a",
        "type": "ui_dropdown",
        "z": "a9aa78485087f860",
        "name": "Snap name",
        "label": "Snap name",
        "tooltip": "",
        "place": "Select option",
        "group": "07de419d1e087d6d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1030,
        "y": 580,
        "wires": [
            [
                "22c3dcb3e21375d5",
                "2ce4d8e3772ba000"
            ]
        ]
    },
    {
        "id": "5d2ee77f.a8fe38",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "prepare dropdown",
        "func": "// reorder\nmsg.payload.result.sort(function (a,b) {\n    if (a.name < b.name) {\n        return -1\n    }\n    else if (a.name > b.name) {\n        return 1;\n    }\n    return 0;\n})\n\nvar options_str = ''\n\nfor (var key in msg.payload.result) {\n    var isDaemon = false;\n    for (var app_key in msg.payload.result[key].apps ) {\n        if ( msg.payload.result[key].apps[app_key].hasOwnProperty(\"daemon\") )\n            isDaemon = true;\n    }\n    if (isDaemon) {\n        snap_name = msg.payload.result[key].name;\n        //options_str = options_str + ' {\"'  + snap_name +'\":{ \"param\":' +  '\"' + snap_name + '\", \"data\":' +  '\"' + snap_name + '\"}},'\n        options_str = options_str + '\"' + snap_name + '\",'\n    }\n}\n\noptions_str = '[' + options_str.replace(/.$/,'') + ']'\n\nvar options = JSON.parse(options_str)\n\nmsg.options = options\n\nif (( flow.get(\"snap_name\") != null) && (flow.get(\"snap_name\") != \"\" ))\n    msg.payload = [flow.get(\"snap_name\")]\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 620,
        "wires": [
            [
                "2e20d61f.4aa97a",
                "976434b20173798f"
            ]
        ]
    },
    {
        "id": "22c3dcb3e21375d5",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "prepare for services",
        "func": "flow.set(\"snap_name\",msg.payload)\nflow.set(\"service_name\", \"\")\nflow.set(\"service_name_short\", \"\")\nmsg.payload=\"/v2/apps?select=service&names=\" + msg.payload\nmsg.topic=\"snapd_rest_api_get\"\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 620,
        "wires": [
            [
                "d667bd65535ef273"
            ]
        ]
    },
    {
        "id": "d667bd65535ef273",
        "type": "snapd",
        "z": "a9aa78485087f860",
        "name": "",
        "x": 1530,
        "y": 640,
        "wires": [
            [
                "b635b597cb4f40f3"
            ]
        ]
    },
    {
        "id": "b635b597cb4f40f3",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "patch results",
        "func": "var result = msg.payload.result\n\nif ( msg.payload.result[0].snap != flow.get(\"snap_name\")){\n    for (var key in msg.payload.result) {\n        if (!msg.payload.result[key].hasOwnProperty('active')) {\n            result[key].active=false\n        } \n        if (!msg.payload.result[key].hasOwnProperty('enabled')) {\n            result[key].enabled=false\n        } \n    }\n}\n\nmsg.payload = result\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 640,
        "wires": [
            [
                "c440cc1125164cd7"
            ]
        ]
    },
    {
        "id": "4207f8823e980692",
        "type": "inject",
        "z": "a9aa78485087f860",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "snapd_rest_api_get",
        "payload": "/v2/snaps",
        "payloadType": "str",
        "x": 230,
        "y": 660,
        "wires": [
            [
                "f82ab287110e0992"
            ]
        ]
    },
    {
        "id": "2ce4d8e3772ba000",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "reset app list",
        "func": "var empty_result = []\nmsg.payload=empty_result\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 580,
        "wires": [
            [
                "3a0681c1891c9310"
            ]
        ]
    },
    {
        "id": "42282a8b089795a6",
        "type": "ui_button",
        "z": "a9aa78485087f860",
        "name": "start",
        "group": "07de419d1e087d6d",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "start",
        "payloadType": "str",
        "topic": "service_name",
        "topicType": "flow",
        "x": 2350,
        "y": 540,
        "wires": [
            [
                "19deb321ce5ec356"
            ]
        ]
    },
    {
        "id": "2c6c29176c95c624",
        "type": "ui_button",
        "z": "a9aa78485087f860",
        "name": "restart",
        "group": "07de419d1e087d6d",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "restart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "restart",
        "payloadType": "str",
        "topic": "service_name_short",
        "topicType": "flow",
        "x": 2350,
        "y": 580,
        "wires": [
            [
                "19deb321ce5ec356"
            ]
        ]
    },
    {
        "id": "ba7a57ec3ade9d00",
        "type": "ui_button",
        "z": "a9aa78485087f860",
        "name": "enable",
        "group": "07de419d1e087d6d",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "enable",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "enable",
        "payloadType": "str",
        "topic": "service_name",
        "topicType": "flow",
        "x": 2350,
        "y": 620,
        "wires": [
            [
                "19deb321ce5ec356"
            ]
        ]
    },
    {
        "id": "f547830a9ddf7f0c",
        "type": "ui_button",
        "z": "a9aa78485087f860",
        "name": "stop",
        "group": "07de419d1e087d6d",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "service_name",
        "topicType": "flow",
        "x": 2350,
        "y": 660,
        "wires": [
            [
                "19deb321ce5ec356"
            ]
        ]
    },
    {
        "id": "a2c0b1bd5a1181b1",
        "type": "ui_button",
        "z": "a9aa78485087f860",
        "name": "disable",
        "group": "07de419d1e087d6d",
        "order": 8,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "disable",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "disable",
        "payloadType": "str",
        "topic": "service_name",
        "topicType": "flow",
        "x": 2360,
        "y": 700,
        "wires": [
            [
                "19deb321ce5ec356"
            ]
        ]
    },
    {
        "id": "827cdc2b09835474",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "select service",
        "func": "if (msg.payload.snap === msg.payload.name) \n    flow.set(\"service_name_short\", msg.payload.name)\n\nflow.set(\"service_name\", msg.payload.snap + \".\" + msg.payload.name)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 580,
        "wires": [
            [
                "42282a8b089795a6",
                "2c6c29176c95c624",
                "ba7a57ec3ade9d00",
                "f547830a9ddf7f0c",
                "a2c0b1bd5a1181b1",
                "c296937d1944bc2a"
            ]
        ]
    },
    {
        "id": "b20250d2175a2570",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "create POST",
        "func": "if (msg.payload === 'enable') {\n    msg.payload='{ \"command\" : \"/v2/apps\" , \"body\" : { \"action\" : \"start\", \"enable\": true, \"names\": [\"' + msg.topic + '\"] } }'\n    msg.topic = \"snapd_rest_api_post\"\n} else if (msg.payload === 'disable') {\n    msg.payload='{ \"command\" : \"/v2/apps\" , \"body\" : { \"action\" : \"stop\", \"disable\": true, \"names\": [\"' + msg.topic + '\"] } }'\n    msg.topic = \"snapd_rest_api_post\"\n} else {    \n    msg.payload='{ \"command\" : \"/v2/apps\" , \"body\" : { \"action\" : \"' + msg.payload + '\", \"names\": [\"' + msg.topic + '\"] } }'\n    msg.topic = \"snapd_rest_api_post\"\n}\n\n\n\nmsg.payload = JSON.parse(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2710,
        "y": 660,
        "wires": [
            [
                "8d83fa8b20127fb1"
            ]
        ]
    },
    {
        "id": "8d83fa8b20127fb1",
        "type": "snapd",
        "z": "a9aa78485087f860",
        "name": "",
        "x": 2850,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "31dd5d7bfe1c27ed",
        "type": "inject",
        "z": "a9aa78485087f860",
        "name": "refresh service status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "flow",
                "v": "service_name",
                "vt": "flow"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "refresh",
        "payloadType": "jsonata",
        "x": 1040,
        "y": 740,
        "wires": [
            [
                "c296937d1944bc2a"
            ]
        ]
    },
    {
        "id": "c296937d1944bc2a",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "check snap name",
        "func": "if (flow.get(\"service_name\") != \"\") {\n    msg.payload=\"/v2/apps?select=service&names=\" + flow.get(\"service_name\")\n    msg.topic=\"snapd_rest_api_get\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 740,
        "wires": [
            [
                "d667bd65535ef273"
            ]
        ]
    },
    {
        "id": "a5b6ddfa261112ad",
        "type": "ui_toast",
        "z": "a9aa78485087f860",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "show error",
        "x": 2870,
        "y": 580,
        "wires": []
    },
    {
        "id": "19deb321ce5ec356",
        "type": "switch",
        "z": "a9aa78485087f860",
        "name": "",
        "property": "service_name",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2550,
        "y": 620,
        "wires": [
            [
                "24dcd4bae149b0db"
            ],
            [
                "b20250d2175a2570"
            ]
        ]
    },
    {
        "id": "24dcd4bae149b0db",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "error",
        "func": "msg.payload = \"Click on one service first!\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2690,
        "y": 580,
        "wires": [
            [
                "a5b6ddfa261112ad"
            ]
        ]
    },
    {
        "id": "bd639be9048f3aeb",
        "type": "inject",
        "z": "a9aa78485087f860",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "6",
        "topic": "snapd_rest_api_get",
        "payload": "/v2/system-info",
        "payloadType": "str",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "65c5aa7501ea4591"
            ]
        ]
    },
    {
        "id": "44d8fde8ecdd503c",
        "type": "inject",
        "z": "a9aa78485087f860",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "7",
        "topic": "snapd_rest_api_get",
        "payload": "/v2/apps",
        "payloadType": "str",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "7fa903afbafef497"
            ]
        ]
    },
    {
        "id": "d71b8b554db49556",
        "type": "inject",
        "z": "a9aa78485087f860",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "snapd_rest_api_get",
        "payload": "/v2/systems",
        "payloadType": "str",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "aa05f63e277d5420"
            ]
        ]
    },
    {
        "id": "976434b20173798f",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "prepare for reload services",
        "func": "if ( (flow.get(\"snap_name\") != null) && (flow.get(\"snap_name\") != \"\" )) {\n    flow.set(\"service_name\", \"\")\n    flow.set(\"service_name_short\", \"\")\n    msg.payload=\"/v2/apps?select=service&names=\" + flow.get(\"snap_name\")\n    msg.topic=\"snapd_rest_api_get\"\n\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 660,
        "wires": [
            [
                "d667bd65535ef273"
            ]
        ]
    },
    {
        "id": "d15097d27da2f554",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "initialize services",
        "func": "flow.set(\"service_name\",\"\")\nflow.set(\"service_name_short\",\"\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 580,
        "wires": [
            [
                "11c4a58d07257520"
            ]
        ]
    },
    {
        "id": "f82ab287110e0992",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "initialize services",
        "func": "flow.set(\"snap_name\",\"\")\nflow.set(\"service_name\",\"\")\nflow.set(\"service_name_short\",\"\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 660,
        "wires": [
            [
                "11c4a58d07257520"
            ]
        ]
    },
    {
        "id": "c440cc1125164cd7",
        "type": "switch",
        "z": "a9aa78485087f860",
        "name": "",
        "property": "msg.payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1850,
        "y": 640,
        "wires": [
            [
                "3a0681c1891c9310"
            ],
            [
                "44a63edde891cd67"
            ]
        ]
    },
    {
        "id": "44a63edde891cd67",
        "type": "function",
        "z": "a9aa78485087f860",
        "name": "auto-select service",
        "func": "msg.payload=msg.payload[0]\n\nif (msg.payload.snap === msg.payload.name) \n    flow.set(\"service_name_short\", msg.payload.name)\n\nflow.set(\"service_name\", msg.payload.snap + \".\" + msg.payload.name)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2130,
        "y": 660,
        "wires": [
            [
                "42282a8b089795a6",
                "2c6c29176c95c624",
                "ba7a57ec3ade9d00",
                "f547830a9ddf7f0c",
                "a2c0b1bd5a1181b1"
            ]
        ]
    },
    {
        "id": "30dc3ab1598f37c9",
        "type": "http request",
        "z": "6f115337e98614cb",
        "name": "Create device profile",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 520,
        "y": 300,
        "wires": [
            [
                "016e44da8ce94fbf"
            ]
        ]
    },
    {
        "id": "26d78d7c70f67f3b",
        "type": "function",
        "z": "6f115337e98614cb",
        "name": "Set service profile filename",
        "func": "var base_dir = env.get(\"SNAP_DATA\");\nmsg.filename = base_dir + \"/\" + flow.get(\"device_service_profile_filename\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 220,
        "wires": [
            [
                "6f08acba8b5a4e24"
            ]
        ]
    },
    {
        "id": "4766788cc9c8e0c9",
        "type": "function",
        "z": "6f115337e98614cb",
        "name": "setup",
        "func": "global.set(\"core-data_url\",\"http://localhost:59880/api/v2/\" )\nglobal.set(\"core-metadata_url\",\"http://localhost:59881/api/v2/\" )\n\nlet device_name = \"sensortag1\"\nlet device_description = \"TI Sensortag #1\"\n\nlet register_device_service = {\n    \"name\": \"sensortag-control-device-service\",\n    \"description\": \"Manage Sensortag data\", \n    \"adminState\": \"UNLOCKED\", \n    \"labels\": [\"sensortag\",\"data\"], \n    \"baseAddress\": \"sensortag-device-service:59990\"\n}\n\nlet provision_device = {\n    \"name\": device_name,\n    \"description\": device_description,\n    \"adminState\": \"UNLOCKED\",\n    \"operatingState\": \"UP\",\n    \"labels\": [\"sensortag\",\"data\"],\n    \"location\": \"{lat:45.45,long:47.80}\",\n    \"serviceName\": \"sensortag-control-device-service\",\n    \"profileName\": \"Sensortag-Profile\",\n    \"protocols\": {\"sensortag-protocol\": {\"sensortag-address\": \"localhost\",\"port\": \"1234\",\"unitID\": \"1\"}},\n    \"notify\": false\n}\n    \nflow.set(\"device_service_profile_filename\",\"EdgeX_SensortagProfile.yml\")\nflow.set(\"register_device_service\", register_device_service);\nflow.set(\"provision_device\", provision_device);\nglobal.set(\"device_name\",device_name);\n\nreturn [msg, null];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 220,
        "wires": [
            [
                "26d78d7c70f67f3b"
            ]
        ]
    },
    {
        "id": "19de334a90e47cd2",
        "type": "inject",
        "z": "6f115337e98614cb",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": ".1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "4766788cc9c8e0c9"
            ]
        ]
    },
    {
        "id": "6f08acba8b5a4e24",
        "type": "file in",
        "z": "6f115337e98614cb",
        "name": "read service profile file",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 720,
        "y": 220,
        "wires": [
            [
                "feaadf842eaf8586"
            ]
        ]
    },
    {
        "id": "feaadf842eaf8586",
        "type": "function",
        "z": "6f115337e98614cb",
        "name": "Set upload file",
        "func": "var databuffer = msg.payload;\nmsg.url = global.get(\"core-metadata_url\") + \"deviceprofile/uploadfile\";\nmsg.headers = {\n     \"Content-Type\" : \"multipart/form-data; boundary=---edgexfoundry98234298324989234\"\n     }\nmsg.payload =  \n'-----edgexfoundry98234298324989234\\r\\n'+\n'Content-Disposition: form-data; name=\"file\"; filename=\"'+ flow.get(\"device_service_profile_filename\") + '\"\\r\\n'+\n'Content-Type: application/octet-stream\\r\\n'+\n'\\r\\n'+\ndatabuffer +\n'\\r\\n'+\n'-----edgexfoundry98234298324989234--'+\n'\\r\\n'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 300,
        "wires": [
            [
                "30dc3ab1598f37c9"
            ]
        ]
    },
    {
        "id": "6b1b14e377e1799c",
        "type": "http in",
        "z": "6f115337e98614cb",
        "name": "EdgeX Health Check - core metatada",
        "url": "/ping_edgex_core_metadata",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "0b9f74dd5609899a"
            ]
        ]
    },
    {
        "id": "dfd4f4f1b459843c",
        "type": "http request",
        "z": "6f115337e98614cb",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 60,
        "wires": [
            [
                "513d701e2f476274"
            ]
        ]
    },
    {
        "id": "0b9f74dd5609899a",
        "type": "function",
        "z": "6f115337e98614cb",
        "name": "set url",
        "func": "msg.url = global.get(\"core-metadata_url\") + \"ping\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 60,
        "wires": [
            [
                "dfd4f4f1b459843c"
            ]
        ]
    },
    {
        "id": "e28ae48c4aa4658a",
        "type": "http response",
        "z": "6f115337e98614cb",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1050,
        "y": 60,
        "wires": []
    },
    {
        "id": "6650b9ba8815bd2f",
        "type": "http in",
        "z": "6f115337e98614cb",
        "name": "EdgeX Health Check - core data",
        "url": "/ping_edgex_core_data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "90c62b24fe655b05"
            ]
        ]
    },
    {
        "id": "80adf23fba4f09be",
        "type": "http request",
        "z": "6f115337e98614cb",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 100,
        "wires": [
            [
                "c5e9c9808081e773"
            ]
        ]
    },
    {
        "id": "90c62b24fe655b05",
        "type": "function",
        "z": "6f115337e98614cb",
        "name": "set url",
        "func": "msg.url = global.get(\"core-data_url\") + \"ping\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 100,
        "wires": [
            [
                "80adf23fba4f09be"
            ]
        ]
    },
    {
        "id": "5d455deccd90e4e7",
        "type": "http response",
        "z": "6f115337e98614cb",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1050,
        "y": 100,
        "wires": []
    },
    {
        "id": "c5e9c9808081e773",
        "type": "function",
        "z": "6f115337e98614cb",
        "name": "Prepare status code",
        "func": "if (msg.statusCode != \"200\")\n    msg.statusCode = 503\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 100,
        "wires": [
            [
                "5d455deccd90e4e7"
            ]
        ]
    },
    {
        "id": "513d701e2f476274",
        "type": "function",
        "z": "6f115337e98614cb",
        "name": "Prepare status code",
        "func": "if (msg.statusCode != \"200\")\n    msg.statusCode = 503\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 60,
        "wires": [
            [
                "e28ae48c4aa4658a"
            ]
        ]
    },
    {
        "id": "016e44da8ce94fbf",
        "type": "function",
        "z": "6f115337e98614cb",
        "name": "Set url and body",
        "func": "msg.url = global.get(\"core-metadata_url\") + \"deviceservice\";\nmsg.payload = '[{\"apiVersion\": \"v2\",\"service\": {\"name\": \"sensortag-control-device-service\",\"description\": \"Manage Sensortag data\", \"adminState\": \"UNLOCKED\", \"labels\": [\"sensortag\",\"data\"], \"baseAddress\": \"sensortag-device-service:59990\"}}]'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 380,
        "wires": [
            [
                "7983eae0cfbe9606"
            ]
        ]
    },
    {
        "id": "7983eae0cfbe9606",
        "type": "http request",
        "z": "6f115337e98614cb",
        "name": "Create device service",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 520,
        "y": 380,
        "wires": [
            [
                "90a35f5b34836e57"
            ]
        ]
    },
    {
        "id": "90a35f5b34836e57",
        "type": "function",
        "z": "6f115337e98614cb",
        "name": "Set url and body",
        "func": "msg.url = global.get(\"core-metadata_url\") + \"device\";\nmsg.payload = '[{\"apiVersion\": \"v2\", \"device\": {\"name\": \"sensortag1\",\"description\": \"TI Sensortag #1\",\"adminState\": \"UNLOCKED\",\"operatingState\": \"UP\",\"labels\": [\"sensortag\",\"data\"],\"location\": \"{lat:45.45,long:47.80}\",\"serviceName\": \"sensortag-control-device-service\",\"profileName\": \"Sensortag-Profile\",\"protocols\": {\"sensortag-protocol\": {\"camera-address\": \"localhost\",\"port\": \"1234\",\"unitID\": \"1\"}},\"notify\": false}}]'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 460,
        "wires": [
            [
                "c685577e7aa14284"
            ]
        ]
    },
    {
        "id": "c685577e7aa14284",
        "type": "http request",
        "z": "6f115337e98614cb",
        "name": "Provision the device",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 520,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "2730643cefd8143b",
        "type": "inject",
        "z": "6f115337e98614cb",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "4ad1a7f4877e4ca0"
            ]
        ]
    },
    {
        "id": "a659548aca3cd339",
        "type": "snapd",
        "z": "6f115337e98614cb",
        "name": "",
        "x": 470,
        "y": 160,
        "wires": [
            [
                "647a94e5dce1d52a"
            ]
        ]
    },
    {
        "id": "4ad1a7f4877e4ca0",
        "type": "function",
        "z": "6f115337e98614cb",
        "name": "Start EdgeX",
        "func": "msg.topic = \"snapd_rest_api_post\"\nmsg.payload = '{ \"command\" : \"/v2/apps\" , \"body\" : {\"action\": \"start\", \"names\": [\"edgexfoundry.core-metadata\"]} }'\nmsg.payload = JSON.parse(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 160,
        "wires": [
            [
                "a659548aca3cd339"
            ]
        ]
    },
    {
        "id": "647a94e5dce1d52a",
        "type": "debug",
        "z": "6f115337e98614cb",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 160,
        "wires": []
    },
    {
        "id": "6660c4d141322e0c",
        "type": "inject",
        "z": "085a1f4e80349b48",
        "name": "Startup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "9a9e8bbfbfbfd35c"
            ]
        ]
    },
    {
        "id": "f043b4252bdbb057",
        "type": "snapd",
        "z": "085a1f4e80349b48",
        "name": "",
        "x": 970,
        "y": 140,
        "wires": [
            [
                "66e14d5b27722301"
            ]
        ]
    },
    {
        "id": "1f67b6a70e1ddad5",
        "type": "function",
        "z": "085a1f4e80349b48",
        "name": "Restart Grafana",
        "func": "msg.topic = \"snapd_rest_api_post\"\nmsg.payload = '{ \"command\" : \"/v2/apps\" , \"body\" : {\"action\": \"restart\", \"names\": [\"iotdevice-grafana-cs\"]} }'\nmsg.payload = JSON.parse(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 140,
        "wires": [
            [
                "f043b4252bdbb057"
            ]
        ]
    },
    {
        "id": "66e14d5b27722301",
        "type": "debug",
        "z": "085a1f4e80349b48",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 140,
        "wires": []
    },
    {
        "id": "8b0bd95d4b72f670",
        "type": "inject",
        "z": "085a1f4e80349b48",
        "name": "Startup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "2d0a89897ce1c895"
            ]
        ]
    },
    {
        "id": "2d0a89897ce1c895",
        "type": "function",
        "z": "085a1f4e80349b48",
        "name": "setup",
        "func": "global.set(\"grafana_protocol\",\"http://\")\nglobal.set(\"grafana_admin\",\"admin:admin\")\nglobal.set(\"grafana_host\",\"localhost\")\nglobal.set(\"grafana_port\",\"7000\")\nflow.set(\"api_key_name\",\"mykey\")\nflow.set(\"api_key_name_id\",\"1\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 240,
        "wires": [
            [
                "00c5efb789c45100"
            ]
        ]
    },
    {
        "id": "133650d4fed7c34a",
        "type": "function",
        "z": "085a1f4e80349b48",
        "name": "Set url and body",
        "func": "var grafana_url = global.get(\"grafana_protocol\")+global.get(\"grafana_admin\")+\"@\"+global.get(\"grafana_host\")+\":\"+global.get(\"grafana_port\")\n\nmsg.url = grafana_url + \"/api/auth/keys\"\nmsg.headers = {\n     \"Content-Type\" : \"application/json\"\n     }\nmsg.payload = '{\"name\": \"' + flow.get(\"api_key_name\") + '\",\"role\": \"Admin\"}'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 300,
        "wires": [
            [
                "123bd28c1e47d4dd"
            ]
        ]
    },
    {
        "id": "123bd28c1e47d4dd",
        "type": "http request",
        "z": "085a1f4e80349b48",
        "name": "Create new API key",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 300,
        "wires": [
            [
                "e887d8271703a80d",
                "6412da260f55a35b"
            ]
        ]
    },
    {
        "id": "61371d834a4c277a",
        "type": "function",
        "z": "085a1f4e80349b48",
        "name": "Set url and body",
        "func": "var grafana_url = global.get(\"grafana_protocol\")+global.get(\"grafana_admin\")+\"@\"+global.get(\"grafana_host\")+\":\"+global.get(\"grafana_port\")\n\nmsg.url = grafana_url + \"/api/auth/keys/\" + flow.get(\"key_id\")\nmsg.headers = {\n     \"Content-Type\" : \"application/json\"\n     }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 300,
        "wires": [
            [
                "0cbc6f8a514cb6ed"
            ]
        ]
    },
    {
        "id": "0cbc6f8a514cb6ed",
        "type": "http request",
        "z": "085a1f4e80349b48",
        "name": "Delete existing API key",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 300,
        "wires": [
            [
                "133650d4fed7c34a"
            ]
        ]
    },
    {
        "id": "e887d8271703a80d",
        "type": "yaml",
        "z": "085a1f4e80349b48",
        "property": "payload",
        "name": "",
        "x": 950,
        "y": 300,
        "wires": [
            [
                "1ef5410ec2251875"
            ]
        ]
    },
    {
        "id": "00c5efb789c45100",
        "type": "function",
        "z": "085a1f4e80349b48",
        "name": "Set url and body",
        "func": "var grafana_url = global.get(\"grafana_protocol\")+global.get(\"grafana_admin\")+\"@\"+global.get(\"grafana_host\")+\":\"+global.get(\"grafana_port\")\n\nmsg.url = grafana_url + \"/api/auth/keys/\" \nmsg.headers = {\n     \"Content-Type\" : \"application/json\"\n     }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 240,
        "wires": [
            [
                "f2a235d747e1274c"
            ]
        ]
    },
    {
        "id": "f2a235d747e1274c",
        "type": "http request",
        "z": "085a1f4e80349b48",
        "name": "GET api keys",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 640,
        "y": 240,
        "wires": [
            [
                "915cd1e1e962707f"
            ]
        ]
    },
    {
        "id": "915cd1e1e962707f",
        "type": "yaml",
        "z": "085a1f4e80349b48",
        "property": "payload",
        "name": "",
        "x": 810,
        "y": 240,
        "wires": [
            [
                "7b787abd3b52e281"
            ]
        ]
    },
    {
        "id": "7b787abd3b52e281",
        "type": "function",
        "z": "085a1f4e80349b48",
        "name": "Select key id",
        "func": "flow.set(\"key_id\",0)\nfor (const key of msg.payload) {\n    if ( key.name === \"mykey\" ) \n        flow.set(\"key_id\",key.id)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 240,
        "wires": [
            [
                "61371d834a4c277a"
            ]
        ]
    },
    {
        "id": "1ef5410ec2251875",
        "type": "function",
        "z": "085a1f4e80349b48",
        "name": "Save key",
        "func": "global.set(\"grafana_api_key\",msg.payload.key)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 300,
        "wires": [
            [
                "56a7e423e2c96a4b"
            ]
        ]
    },
    {
        "id": "56a7e423e2c96a4b",
        "type": "function",
        "z": "085a1f4e80349b48",
        "name": "Set url and body",
        "func": "var grafana_url = global.get(\"grafana_protocol\")+global.get(\"grafana_host\")+\":\"+global.get(\"grafana_port\")\n\nmsg.headers = {\n     \"Content-Type\" : \"application/json\",\n     \"Authorization\": \"Bearer \" + global.get(\"grafana_api_key\")\n     }\nmsg.url = grafana_url + \"/api/org\";\nmsg.payload = '{ \"name\": \"Canonical\" }'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 360,
        "wires": [
            [
                "2a86a5409ed06a9f"
            ]
        ]
    },
    {
        "id": "2a86a5409ed06a9f",
        "type": "http request",
        "z": "085a1f4e80349b48",
        "name": "Update Organization",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 360,
        "wires": [
            [
                "c582fa73a3ab810d"
            ]
        ]
    },
    {
        "id": "d2100a9ba3059c36",
        "type": "function",
        "z": "085a1f4e80349b48",
        "name": "Set url and body",
        "func": "var grafana_url = global.get(\"grafana_protocol\")+global.get(\"grafana_host\")+\":\"+global.get(\"grafana_port\")\nmsg.headers = {\n     \"Content-Type\" : \"application/json\",\n     \"Authorization\": \"Bearer \" + global.get(\"grafana_api_key\")\n     }\nmsg.url = grafana_url + \"/api/dashboards/db\";\n//msg.payload = '{\"dashboard\": {\"id\": null,\"uid\": null,\"title\": \"Production Overview\",\"tags\": [ \"templated\" ],\"timezone\": \"browser\",\"schemaVersion\": 16,\"version\": 0,\"refresh\": \"25s\"}, \"folderId\": 0, \"message\": \"Made changes to xyz\", \"overwrite\": false }'\nmsg.payload = '{ \"dashboard\": ' + msg.payload +',\"folderId\": 0,\"overwrite\": true}'\n//msg.payload = '{ \"dashboard\": ' + msg.payload +'}' \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 420,
        "wires": [
            [
                "5cbf4cbc9df28a05"
            ]
        ]
    },
    {
        "id": "e13c20cfa747fef3",
        "type": "file in",
        "z": "085a1f4e80349b48",
        "name": "read dashboard file",
        "filename": "db1",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 370,
        "y": 420,
        "wires": [
            [
                "d2100a9ba3059c36"
            ]
        ]
    },
    {
        "id": "3afe413a443f2291",
        "type": "file",
        "z": "085a1f4e80349b48",
        "name": "",
        "filename": "file_out",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 600,
        "y": 140,
        "wires": [
            [
                "1f67b6a70e1ddad5"
            ]
        ]
    },
    {
        "id": "8c9aee94a7fe073c",
        "type": "file in",
        "z": "085a1f4e80349b48",
        "name": "",
        "filename": "file_in",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 460,
        "y": 140,
        "wires": [
            [
                "3afe413a443f2291"
            ]
        ]
    },
    {
        "id": "9a9e8bbfbfbfd35c",
        "type": "function",
        "z": "085a1f4e80349b48",
        "name": "compute file names",
        "func": "var base_dir = env.get(\"SNAP_DATA\");\nmsg.file_in = base_dir + \"/grafana.ini\"\nmsg.file_out = base_dir + \"/grafana/grafana.ini\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 140,
        "wires": [
            [
                "8c9aee94a7fe073c"
            ]
        ]
    },
    {
        "id": "7e6e94e708019f33",
        "type": "function",
        "z": "085a1f4e80349b48",
        "name": "compute file names",
        "func": "var base_dir = env.get(\"SNAP_DATA\");\nmsg.db1 = base_dir + \"/sensortag_acc_lux_bat.json\"\nmsg.db2 = base_dir + \"/sensortag_temp_hum.json\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 420,
        "wires": [
            [
                "e13c20cfa747fef3"
            ]
        ]
    },
    {
        "id": "5cbf4cbc9df28a05",
        "type": "http request",
        "z": "085a1f4e80349b48",
        "name": "Create dashboard1",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 420,
        "wires": [
            [
                "ed197710a188971c",
                "e9ea860b308f1896"
            ]
        ]
    },
    {
        "id": "ed197710a188971c",
        "type": "debug",
        "z": "085a1f4e80349b48",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 420,
        "wires": []
    },
    {
        "id": "c582fa73a3ab810d",
        "type": "function",
        "z": "085a1f4e80349b48",
        "name": "Set url and body",
        "func": "var grafana_url = global.get(\"grafana_protocol\")+global.get(\"grafana_host\")+\":\"+global.get(\"grafana_port\")\n\nmsg.headers = {\n     \"Content-Type\" : \"application/json\",\n     \"Authorization\": \"Bearer \" + global.get(\"grafana_api_key\")\n     }\nmsg.url = grafana_url + \"/api/datasources\";\nmsg.payload = '{\"name\":\"core-data\",\"uid\":\"BmvFBg74k\",\"type\":\"marcusolsson-json-datasource\",\"url\":\"http://localhost:59880/api/v2/reading\",\"access\":\"proxy\",\"basicAuth\":false}'\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 360,
        "wires": [
            [
                "fc266b9a86975bb0"
            ]
        ]
    },
    {
        "id": "fc266b9a86975bb0",
        "type": "http request",
        "z": "085a1f4e80349b48",
        "name": "Create EdgeX core-data data source",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 360,
        "wires": [
            [
                "7e6e94e708019f33"
            ]
        ]
    },
    {
        "id": "6412da260f55a35b",
        "type": "debug",
        "z": "085a1f4e80349b48",
        "name": "Print API key",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 200,
        "wires": []
    },
    {
        "id": "3feb0e6853e52d28",
        "type": "function",
        "z": "085a1f4e80349b48",
        "name": "Set url and body",
        "func": "var grafana_url = global.get(\"grafana_protocol\")+global.get(\"grafana_host\")+\":\"+global.get(\"grafana_port\")\nmsg.headers = {\n     \"Content-Type\" : \"application/json\",\n     \"Authorization\": \"Bearer \" + global.get(\"grafana_api_key\")\n     }\nmsg.url = grafana_url + \"/api/dashboards/db\";\n//msg.payload = '{\"dashboard\": {\"id\": null,\"uid\": null,\"title\": \"Production Overview\",\"tags\": [ \"templated\" ],\"timezone\": \"browser\",\"schemaVersion\": 16,\"version\": 0,\"refresh\": \"25s\"}, \"folderId\": 0, \"message\": \"Made changes to xyz\", \"overwrite\": false }'\nmsg.payload = '{ \"dashboard\": ' + msg.payload +',\"folderId\": 0,\"overwrite\": true}'\n//msg.payload = '{ \"dashboard\": ' + msg.payload +'}' \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 480,
        "wires": [
            [
                "d663a3427fd7a6f9"
            ]
        ]
    },
    {
        "id": "e9ea860b308f1896",
        "type": "file in",
        "z": "085a1f4e80349b48",
        "name": "read dashboard file",
        "filename": "db2",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 370,
        "y": 480,
        "wires": [
            [
                "3feb0e6853e52d28"
            ]
        ]
    },
    {
        "id": "d663a3427fd7a6f9",
        "type": "http request",
        "z": "085a1f4e80349b48",
        "name": "Create dashboard2",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 480,
        "wires": [
            [
                "877286b3e64b2bd6"
            ]
        ]
    },
    {
        "id": "877286b3e64b2bd6",
        "type": "debug",
        "z": "085a1f4e80349b48",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 480,
        "wires": []
    }
]
